section.media-tablet-catalog
    .media-tablet-catalog--title
        h4.section-title Каталог
        span.media-tablet-catalog-span.catalog-sandwich Весь каталог
            +icon('arrow-catalog')
    .media-tablet-catalog--wrap
        ul.media-tablet-catalog--list
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Горшечные растения
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Грунты
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Зоотовары
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Книжная продукция
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Новогодние товары
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Посадочный материал. Овощи
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Посадочный материал. Цветы
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Проращиватели
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Рассада
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Садовый декор
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Садовый инвентарь
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Саженцы
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Семена
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Средства защиты
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Тара для рассады
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Удобрения
            li.media-tablet-catalog--item
                a.media-tablet-catalog--link(href="/") Хозяйственные товары    