.about-company__about--text
  font-family "Circe Regular",sans-serif
  padding-bottom 40px

.about-company--assortiment--owowi
  display flex
  align-items center
  margin-bottom 25px
  .icon
    size(40px)
    fill #5BDF78
    margin-right 22px

  span
    font-family "Circe Bold",sans-serif
    font-size 18px

.about-company--assortiment h3
    padding-bottom 30px

.about-company-stand
  padding-top 40px

  span
    font-family "Circe Regular",sans-serif
    padding 10px 0
    display block



