.novelties-slider
  padding-bottom 90px

.js-novelties-slider
  display flex
  justify-content space-between
  margin-right -20px

.novelties-slider--wrap
  position relative

.best-product--item--slider
  position: relative;
  background-color: #daffd3;
  border-radius: 30px 0;
  margin-top 20px
  margin-right 20px

.js-novelties-slider__controls
  display flex
  justify-content space-between
  position absolute
  top 50%
  width: 100%;
  height 0


.novelties-slider--arrows
  background: #FFFFFF;
  box-shadow: 2px 6px 10px rgba(46, 46, 46, 0.15);
  height max-content
  padding: 10px 8px;
  cursor pointer

  .icon
    size(17px)