.slider-item-all--pages
  margin 0 10px
.slider-item-all--pages .best-product--item--slider
  margin-right 0

.slider-all--pages
  font-family "Circe Regular",sans-serif

.js-slider--all,.js-slider--all2
  margin 0 -10px

.js-slider--all--wrap
  position relative

.js-slider--all__controls
  position absolute
  display flex
  justify-content space-between
  width 100%
  top 50%
  height 0

  .icon
    size(17px)
    fill #2e2e2e

.js-slider--all__controls--prev,.js-slider--all__controls--next,.js-slider--all2__controls--prev,.js-slider--all2__controls--next
  background-color #fff
  height: max-content;
  padding: 10px 8px;
  box-shadow: 2px 6px 10px rgba(46,46,46,0.15);
  cursor pointer

.no-image
  background-image url("/static/img/general/slider/no-image.png")
  background-repeat no-repeat
  background-position center

.slider-all--pages
  padding-bottom 60px

