section.manufacturers
    .manufacturers--wrap
        .row
            .col-xl-9
                .manufacturers__wrapper
                    h2.section-title Поиск по производителю
                    .manufacturers-alphabet-block
                        h4 Алфавитный указатель по названию производителя
                        .manufacturers-alphabet-block--letters
                            a(href="") А
                            a(href="") В
                        .manufacturers-alphabet-block--letters
                            a(href="") А
                            a(href="") Б
                            a(href="") В
                            a(href="") Г
                            a(href="") Е
                            a(href="") З
                            a(href="") Л
                            a(href="") М
                            a(href="") Н
                            a(href="") О
                            a(href="") П
                            a(href="") Р
                            a(href="") С
                            a(href="") Ф
                            a(href="") Ц
                .manufacturers-alphabet--let-blocks
                    ul.manufacturers-list
                        li.manufacturers-item
                            span.delivery-ways--num5 А
                            .manufacturers-item__links
                                .manufacturers-item__link
                                    a(href="/") Avgust
                        li.manufacturers-item
                            span.delivery-ways--num5 Б
                            .manufacturers-item__links
                                .manufacturers-item__link
                                    a(href="/") Bayer Garden
                        li.manufacturers-item
                            span.delivery-ways--num5 А
                            .manufacturers-item__links
                                .manufacturers-item__link
                                    a(href="/") АБТ-Групп
                                .manufacturers-item__link
                                    a(href="/") Альмира
                                .manufacturers-item__link
                                    a(href="/") Аэлита, Агрофирма
                        li.manufacturers-item
                            span.delivery-ways--num5 Б
                            .manufacturers-item__links
                                .manufacturers-item__link
                                    a(href="/") Башинком
                                .manufacturers-item__link
                                    a(href="/") Био-Комплекс
                                .manufacturers-item__link
                                    a(href="/") Биотехника, Агрофирма
                        li.manufacturers-item
                            span.delivery-ways--num5 В
                            .manufacturers-item__links
                                .manufacturers-item__link
                                    a(href="/") Ваше хозяйство
                        li.manufacturers-item
                            span.delivery-ways--num5 М
                            .manufacturers-item__links
                                .manufacturers-item__link
                                    a(href="/") Манул, Агрофирма
                                .manufacturers-item__link
                                    a(href="/") Маринда (Акварель), Агрофирма
                                .manufacturers-item__link
                                    a(href="/") Марс, Агрофирма
                                .manufacturers-item__link
                                    a(href="/") МосАгро
                        li.manufacturers-item
                            span.delivery-ways--num5 С
                            .manufacturers-item__links
                                .manufacturers-item__link
                                    a(href="/") Северо-Западная Торфянная Компания
                                .manufacturers-item__link
                                    a(href="/") СельХозХимия
                                .manufacturers-item__link
                                    a(href="/") Сибирский Сад, Агрофирма
                                .manufacturers-item__link
                                    a(href="/") Седек, Агрофирма
                                .manufacturers-item__link
                                    a(href="/") Семко, Агрофирма
                        li.manufacturers-item
                            span.delivery-ways--num5 Ц
                            .manufacturers-item__links
                                .manufacturers-item__link
                                    a(href="/") Цветущий сад, Агрофирма


            .col-xl-3.p-3.stock-slider-none
                .delivery-stock
                    .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock2.png')")
                        span.sidebar-stock--item__text Гибрид подсолнечника по сниженной цене
                        a.sidebar-stock--item__link(href="/")
                            span Подробнее
                            +icon('more-arrow')
                    .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock1.png')")
                        span.sidebar-stock--item__text Свежая зелень — в каждый дом!
                        a.sidebar-stock--item__link(href="/")
                            span Подробнее
                            +icon('more-arrow')