section.sales
    h2.section-title Скидки
    .best-product-wrap
        .best-product--container
            .best-product--item
                .best-product--item__attr
                    span.best-product--item__discount.product-attr-status %
                .best-product--item__link--wrap
                    a(data-fancybox="gallery" data-caption="Название" href="/static/img/general/bestseller/best-1-1.png").best-product--item__added-pic
                        span.best-product--item__added-for-pic
                            +icon('added-pic')
                        img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                    .shop-attr.best-product--shop-attr
                        span.shop--compare
                            +icon('compare')
                        span.shop--favourite
                            +icon('star2')
                            span.shop-favourite-add-to-favourite Добавить в избранное
                .best-product--info
                    a.best-product--info__link(href="/") Алоказия Полли 12 40
                    span.best-product--info__in-stock В наличии
                    .best-product--info__price-quantity
                        span.best-product--info__price 300.00 &#8381
                        .best-product--info__quantity
                            button.sub(type="button") -
                            input.best-quantity(value="1" min="1")
                            button.add(type="button") +
                    include ../buttons/best-add-to-cart

            .best-product--item
                .best-product--item__attr
                    span.best-product--item__discount.product-attr-status %
                    span.best-product--item__new.product-attr-status New
                    span.best-product--item__hit.product-attr-status Хит
                .best-product--item__link--wrap
                    a(data-fancybox="gallery" href="/static/img/general/bestseller/best-2-2.png").best-product--item__added-pic
                        span.best-product--item__added-for-pic
                            +icon('added-pic')
                        img(src="/static/img/general/bestseller/best-2-2.png").best-product--item__img
                    .shop-attr.best-product--shop-attr
                        span.shop--compare
                            +icon('compare')
                        span.shop--favourite
                            +icon('star2')
                            span.shop-favourite-add-to-favourite Добавить в избранное
                .best-product--info
                    a.best-product--info__link(href="/") Антуриум Андре Микс 12 37
                    span.best-product--info__in-stock В наличии
                    .best-product--info__price-quantity
                        span.best-product--info__price 590.00 &#8381
                        .best-product--info__quantity
                            button.sub(type="button") -
                            input.best-quantity(value="1" min="1")
                            button.add(type="button") +
                    include ../buttons/best-add-to-cart

            .best-product--item
                .best-product--item__attr
                    span.best-product--item__discount.product-attr-status %
                .best-product--item__link--wrap
                    a(data-fancybox="gallery" data-caption="Название" href="/static/img/general/bestseller/best-3-3.png").best-product--item__added-pic
                        span.best-product--item__added-for-pic
                            +icon('added-pic')
                        img(src="/static/img/general/bestseller/best-3-3.png").best-product--item__img
                    .shop-attr.best-product--shop-attr
                        span.shop--compare
                            +icon('compare')
                        span.shop--favourite
                            +icon('star2')
                            span.shop-favourite-add-to-favourite Добавить в избранное
                .best-product--info
                    a.best-product--info__link(href="/") Аспарагус Микс 12 35
                    span.best-product--info__in-stock.preorder-best-product Предзаказ
                    .best-product--info__price-quantity
                        span.best-product--info__price 230.00 &#8381
                        .best-product--info__quantity
                            button.sub(type="button") -
                            input.best-quantity(value="1" min="1")
                            button.add(type="button") +
                    include ../buttons/added-to-cart

            .best-product--item
                .best-product--item__attr
                    span.best-product--item__discount.product-attr-status %
                .best-product--item__link--wrap
                    a(data-fancybox="gallery" data-caption="Название" href="/static/img/general/bestseller/best-4-4.png").best-product--item__added-pic
                        span.best-product--item__added-for-pic
                            +icon('added-pic')
                        img(src="/static/img/general/bestseller/best-4-4.png").best-product--item__img
                    .shop-attr.best-product--shop-attr
                        span.shop--compare
                            +icon('compare')
                        span.shop--favourite
                            +icon('star2')
                            span.shop-favourite-add-to-favourite Добавить в избранное
                .best-product--info
                    a.best-product--info__link(href="/") Аспидистра 15 60
                    span.best-product--info__in-stock В наличии
                    .best-product--info__price-quantity
                        span.best-product--info__price 300.00 &#8381
                        .best-product--info__quantity
                            button.sub(type="button") -
                            input.best-quantity(value="1" min="1")
                            button.add(type="button") +
                    include ../buttons/best-add-to-cart

            .best-product--item
                .best-product--item__attr
                    span.best-product--item__discount.product-attr-status %
                .best-product--item__link--wrap
                    a(data-fancybox="gallery" data-caption="Название" href="/static/img/general/bestseller/best-5-5.png").best-product--item__added-pic
                        span.best-product--item__added-for-pic
                            +icon('added-pic')
                        img(src="/static/img/general/bestseller/best-5-5.png").best-product--item__img
                    .shop-attr.best-product--shop-attr
                        span.shop--compare
                            +icon('compare')
                        span.shop--favourite
                            +icon('star2')
                            span.shop-favourite-add-to-favourite Добавить в избранное
                .best-product--info
                    a.best-product--info__link(href="/") Бегония Элатиор 11
                    span.best-product--info__in-stock В наличии
                    .best-product--info__price-quantity
                        span.best-product--info__price 590.00 &#8381
                        .best-product--info__quantity
                            button.sub(type="button") -
                            input.best-quantity(value="1" min="1")
                            button.add(type="button") +
                    include ../buttons/best-add-to-cart

            .best-product--item
                .best-product--item__attr
                    span.best-product--item__discount.product-attr-status %
                .best-product--item__link--wrap
                    a(data-fancybox="gallery" data-caption="Название" href="/static/img/general/bestseller/best-6-6.png").best-product--item__added-pic
                        span.best-product--item__added-for-pic
                            +icon('added-pic')
                        img(src="/static/img/general/bestseller/best-6-6.png").best-product--item__img
                    .shop-attr.best-product--shop-attr
                        span.shop--compare
                            +icon('compare')
                        span.shop--favourite
                            +icon('star2')
                            span.shop-favourite-add-to-favourite Добавить в избранное
                .best-product--info
                    a.best-product--info__link(href="/") Бегония Элатиор 15
                    span.best-product--info__in-stock В наличии
                    .best-product--info__price-quantity
                        span.best-product--info__price 230.00 &#8381
                        .best-product--info__quantity
                            button.sub(type="button") -
                            input.best-quantity(value="1" min="1")
                            button.add(type="button") +

                    include ../buttons/best-add-to-cart
        a.best-button-show-more(href="javascript:void(0)") Все скидки