footer
    .container
        .footer-wrap
            .footer-support-and-extra
                .footer-support-footer-extra--wrap.col-lg-4
                    .footer-support
                        span.support-extra Служба поддержки
                                +icon('logo2')
                        ul.support-extra-list
                            li.support-extra-list--item
                                a.support-extra-list--item__link(href="/") О компании
                            li.support-extra-list--item
                                a.support-extra-list--item__link(href="/") Доставка и оплата
                            li.support-extra-list--item
                                a.support-extra-list--item__link(href="/") Как заказать
                            li.support-extra-list--item
                                a.support-extra-list--item__link(href="/") Акции
                            li.support-extra-list--item
                                a.support-extra-list--item__link(href="/") Карта сайта
                    .footer-extra
                        span.support-extra Дополнительно
                        ul.support-extra-list
                            li.support-extra-list--item
                                a.support-extra-list--item__link(href="/") Производители
                            li.support-extra-list--item
                                a.support-extra-list--item__link(href="/") Партнерская программа
                .footer-subscribe-footer-contacts--wrap.col-lg-8
                    .footer-subscribe
                        span.support-extra Подпишитесь на обновления
                        input.subscribe-to-update--input(type="email" placeholder="e-mail")
                        button.subscribe-to-update--button(type="submit") Подписаться
                        p.subscribe-to-update--text Ваши данные в безопасности и не будут переданы третьим лицам


                    .footer-contacts
                        span.support-extra Контакты
                        span.support-address Адрес:
                            span.support-address-adress г. Пенза, пр-т Строителей, 21а
                        a.support-phone(href="tel:+79272898589") +7 (927) 289-85-89
                        .support-social
                            a.support-social-link(href="/")
                                +icon('insta')
                            a.support-social-link(href="/")
                                +icon('vk')

            .copyright-footer
                .copy-right
                    span.copy-year © 2019
                    a(href="/").copy-link 6 Соток.
                    span.copy-year Все права защищены
                a(href="/").copy-sicret Политика конфиденциальности

    .basket-fixed
        +icon('basket')


