section.pay
    .pay-pay--wrap
        .row
            .col-xl-9
                h2.section-title Оплата
                .pay-list--wrap
                    h4 Перечислить Денежные средства можно:
                    ul.delivery-ways--list
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    h6.devivery-ways--list--title Карта Сбербанка 
                                        span.pay-cart--pay (карта на имя Ольги Николаевны В.)
                                    span 4276 4800 1464 7054
                                    span Просьба в сообщении указывать номер заказа.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    h6.devivery-ways--list--title Расчетный счет в Банке
                                    span Расчетный счет 40802810100000405663
                                    span АО «ТИНЬКОФФ БАНК» г. Москва
                                    span БИК 044525974 Корр. счет 30101810145250000974
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    h6.devivery-ways--list--title Яндекс деньги
                                    span 410013109793270
                    h3.delivery-wish Желаем Вам приятных покупок!

            .col-xl-3.p-3.stock-slider-none
                .delivery-stock
                    .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock1.png')")
                        span.sidebar-stock--item__text Свежая зелень — в каждый дом!
                        a.sidebar-stock--item__link(href="/")
                            span Подробнее
                            +icon('more-arrow')