section.sidebar-stock.side-js-stock
    h2.section-title Акции
    .js-stock-slide
        .sidebar-stock--items.js-sidebar-stock--items
            .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock1.png')")
                span.sidebar-stock--item__text Свежая зелень — в каждый дом!
                a.sidebar-stock--item__link(href="/")
                    span Подробнее
                    +icon('more-arrow')
            .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock2.png')")
                span.sidebar-stock--item__text Гибрид подсолнечника по сниженной цене
                a.sidebar-stock--item__link(href="/")
                    span Подробнее
                    +icon('more-arrow')
            .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock3.png')")
                span.sidebar-stock--item__text Приручите экзотику!
                a.sidebar-stock--item__link(href="/")
                    span Подробнее
                    +icon('more-arrow')
            .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock3.png')")
                span.sidebar-stock--item__text Приручите экзотику!
                a.sidebar-stock--item__link(href="/")
                    span Подробнее
                    +icon('more-arrow')

        .js-sidebar-stock-controls-dots
