// Шапка
@import 'header/header.styl'

// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

// ФОРМА ДЛЯ СКИДОК
@import "sales-form/sales-form.styl"

// Отзывы на главной
@import "reviews/reviews.styl"

// Хлебные крошки
@import "breadcrumbs-v1/breadcrumbs-v2.styl"

// Слайдер новинок
@import "sliders/novelties-slider.styl"

// Слайдер all
@import "sliders/slider-copy.styl"

// Фильтр каталог
@import "filters-catalog/filter.styl"