@import '../../../node_modules/normalize.css/normalize.css'
//======================Bootstrap=========================//
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import '../../../node_modules/slick-carousel/slick/slick.css'
@import "../../../node_modules/ion-rangeslider/css/ion.rangeSlider.min.css"
@import "../../../node_modules/rateyo/src/jquery.rateyo.css"
@import "../../static/stylus/zoomple.css"
@import "../../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css"
//@import "../../../node_modules/owl.carousel/dist/assets/owl.carousel.css"


