// Цвета 
redColor          = #ff5e00


// Размеры
desktopWidth    = 1240px
ss1199          = 1199px
ss992           = 992px
ss768           = 768px
ss576           = 576px
ss340           = 340px


// Шрифты




thinFont         = 'clear_sans_thinregular',    Arial, sans-serif
lightFont        = 'clear_sans_lightregular',   Arial, sans-serif
mainFont         = 'clear_sansregular',         Arial, sans-serif
mediumFont       = 'clear_sans_mediumregular',  Arial, sans-serif
mediumItalicFont = 'clear_sans_mediumitalic',   Arial, sans-serif
boldFont         = 'clear_sansbold',            Arial, sans-serif
boldItalicFont   = 'clear_sansbold_italic',     Arial, sans-serif
italicFont       = 'clear_sansitalic',          Arial, sans-serif
boldFont         = 'clear_sansbold',            Arial, sans-serif