section.about-company
    .about-company--wrap
        .row
            .col-xl-9
                .about-company__about
                    h2.section-title О компании
                    p.about-company__about--text «6 Соток» — розничный магазин товаров для сада и огорода с возможностью доставкой по РФ. Наша цель — помогать людям выращивать здоровый и богатый урожай овощей, ягод и цветов.
                .about-company--assortiment
                    h3 В нашем ассортименте:
                    .about-company--assortiment--wrap
                        .about-company--assortiment--owowi
                            //+icon('owowi')
                            img.about-company--img__size(src="static/img/general/about/1.png")
                            span Более 3 000 сортов семян овощей, трав, цветов, ягод, деревьев
                        .about-company--assortiment--owowi
                            //+icon('luk')
                            img.about-company--img__size(src="static/img/general/about/2.png")
                            span Лук-севок голландского и российского производства
                        .about-company--assortiment--owowi
                            //+icon('potatoes')
                            img.about-company--img__size(src="static/img/general/about/3.png")
                            span Семенной картофель, выращенный на территории Пензенская области (пгт Лунино)
                        .about-company--assortiment--owowi
                            //+icon('flowers')
                            img.about-company--img__size(src="static/img/general/about/4.png")
                            span Луковичные и корневищные цветы
                        .about-company--assortiment--owowi
                            //+icon('rassa')
                            img.about-company--img__size(src="static/img/general/about/5.png")
                            span Саженцы и рассада, выращенные в Пензенской области
                        .about-company--assortiment--owowi
                            //+icon('grunt')
                            img.about-company--img__size(src="static/img/general/about/6.png")
                            span Грунты, удобрения, средства защиты, садовый инвентарь
                        .about-company--assortiment--owowi
                            //+icon('kak')
                            img.about-company--img__size(src="static/img/general/about/7.png")
                            span Комнатные цветы
                .about-company-stand
                    h4 Помогите нам стать лучше!
                    span Если у Вас есть какие-либо пожелания, советы или замечания по работе сайта — присылайте их на нашу электронную почту:
                    span Все Ваши отзывы и замечания мы обрабатываем, делаем выводы и применяем в работе.
                h3.delivery-wish Давайте выращивать богатый урожай вместе!
            .col-xl-3.p-3.stock-slider-none
                .delivery-stock
                    .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock1.png')")
                        span.sidebar-stock--item__text Свежая зелень — в каждый дом!
                        a.sidebar-stock--item__link(href="/")
                            span Подробнее
                            +icon('more-arrow')