section.delivery
    .delivery-baner--wrap
        .row
            .col-xl-9
                h2.section-title Доставка
                h5 Минимальный заказ в интернет-магазине – 400 руб.
                p Все заказы поступают в сборку только после поступления денежных средств на наш счет в размере 100% от стоимости заказа. Счет на предварительную оплату действителен в течение 3 дней с даты заказа.
                p.delivery-extep Исключение! Самовывоз из розничного магазина. Данные заказы после сборки хранятся в течение 3-х дней. В случае, если Вы не забираете заказ на 4-й день, то заказ расформировывается.
                h4.delivery-ways Возможные способы доставки:
                ul.delivery-ways--list
                    li
                        .delivery-ways--list-item
                            span.delivery-ways--num
                            .delivery-ways--title-text
                                h6.devivery-ways--list--title Доставка Почтой РФ
                                p Срок доставки российской почтой обычно составляет от 1 до 6 недель в зависимости от удаленности региона доставки. Стоимость доставки зависит от региона (расстояния), веса товаров, стоимости заказа (страховой сбор) и определяется официальными тарифами "Почты России". При получении посылки на почте Вам не придется делать никаких дополнительных выплат. По почтовым правилам, посылка или бандероль, не востребованная получателем в течение 1 месяца, возвращается отправителю. Интернет-магазин не несет ответственности за задержку доставки заказов по вине почты.

                    li
                        .delivery-ways--list-item
                            span.delivery-ways--num
                            .delivery-ways--title-text
                                h6.devivery-ways--list--title Доставка Транспортной Компанией
                                p Мы можем передать ваш заказ для доставки ТК (например, ПЭК, Деловые линии и т.д.). В этом случае при оформлении заказа вы выбираете доставку Почтой РФ, в комментариях пишете или сообщаете оператору (когда мы будем звонить вам и подтверждать заказ), что необходима доставка ТК. Мы убираем стоимость пересылки, и выставляем вам новый счет. После поступления оплаты в течение 3 дней собираем заказ и вызываем курьера из ТК для забора груза (исключение - если товар носит сезонный характер, например семенной картофель или отсутствует в наличии). Стоимость забора груза с нашего склада, межтерминальную перевозку (и при необходимости и доставку до адреса) вы оплачиваете ТК при получении груза. Тарифы на эти услуги определяет выбранная вами ТК.
                    li
                        .delivery-ways--list-item
                            span.delivery-ways--num
                            .delivery-ways--title-text
                                h6.devivery-ways--list--title Самовывоз из розничного магазина
                                span Возможно только для жителей г. Пенза и Пензенской области.
                                span Адрес: г. Пенза, пр-кт Строителей 21а, ТЦ «Арбековский» отдел «6 соток».
                                span Режим работы: ежедневно 9.00 — 19.00
                    li
                        .delivery-ways--list-item
                            span.delivery-ways--num
                            .delivery-ways--title-text
                                h6.devivery-ways--list--title Доставка курьером по г. Пенза
                                p Доставка курьером осуществляется ежедневно. Дата и интервал доставки будет согласована по телефону при звонке нашего оператора. Стоимость доставки по Пензе в черте города бесплатная при заказе свыше 2 000 рублей. При стоимости заказа менее 2 000 рублей стоимость доставки по Пензе - 200 рублей; в отдаленные районы города (Монтажный, Чемодановка, Засурье, Засечное, г. Заречный и др.) и по области стоимость доставки согласовывается индивидуально.
                h3.delivery-wish Желаем Вам приятных покупок!


            .col-xl-3.p-3.stock-slider-none
                .delivery-stock
                    .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock2.png')")
                        span.sidebar-stock--item__text Гибрид подсолнечника по сниженной цене
                        a.sidebar-stock--item__link(href="/")
                            span Подробнее
                            +icon('more-arrow')
                    .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock1.png')")
                        span.sidebar-stock--item__text Свежая зелень — в каждый дом!
                        a.sidebar-stock--item__link(href="/")
                            span Подробнее
                            +icon('more-arrow')