@font-face {
  font-family: 'Circe Regular';
  src: local('Circe Regular'), local('Circe-Regular'),
          url('/static/fonts/Circe/Circe-Regular.woff2') format('woff2'),
          url('/static/fonts/Circe/Circe-Regular.woff') format('woff'),
          url('/static/fonts/Circe/Circe-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Light';
  src: local('Circe Light'), local('Circe-Light'),
          url('/static/fonts/Circe/Circe-Light.woff2') format('woff2'),
          url('/static/fonts/Circe/Circe-Light.woff') format('woff'),
          url('/static/fonts/Circe/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Bold';
  src: local('Circe Bold'), local('Circe-Bold'),
          url('/static/fonts/Circe/Circe-Bold.woff2') format('woff2'),
          url('/static/fonts/Circe/Circe-Bold.woff') format('woff'),
          url('/static/fonts/Circe/Circe-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Amalfi Regular';
  src: local('Amalfi Regular'), local('Amalfi-Regular'),
          url('/static/fonts/Amalfi/Amalfi-Regular.woff2') format('woff2'),
          url('/static/fonts/Amalfi/Amalfi-Regular.woff') format('woff'),
          url('/static/fonts/Amalfi/Amalfi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}