.how-to-pay-margin
  margin-top 70px
.how-to-pay-margin h4
  color #5BDF78
.useful-info--item
  margin-top 20px
.useful-info--item p
  padding 20px
  background: #EBFCE8;
  border-radius: 24px 0px;
  font-family "Circe Regular",sans-serif