.delivery-stock .sidebar-stock--item
  max-height 476px

.delivery-extep
  font-family "Circe Bold",sans-serif !important

.delivery-baner--wrap p
  padding 10px 0
  font-family "Circe Regular",sans-serif

.delivery-ways
  padding 20px 0

.delivery-ways--list-item
  display flex
  font-family "Circe Bold",sans-serif

.delivery-ways--list li
  margin-bottom 30px


.delivery-ways--num,.delivery-ways--num2,.delivery-ways--num3,.delivery-ways--num4,.delivery-ways--num5
  background: #aff2b4;
  border-radius: 24px 0px;
  padding: 10px 16px;
  line-height: 1;
  margin-right: 15px;
  width: 40px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

.devivery-ways--list--title
  display flex
  align-items center
  color #2e2e2e
  font-family "Circe Bold",sans-serif


.delivery-ways--title-text
  padding-top 7px

.delivery-ways--title-text span
  font-family "Circe Regular",sans-serif
  padding-top 10px
  display flex
  flex-direction column
.delivery-wish
  padding 40px 0
  color #5BDF78