.contacts-time__work
  display flex
.contacts-time-w
  font-family "Circe Bold",sans-serif !important
  margin-right 5px
.contacts-phones
  font-family "Circe Bold",sans-serif
  font-size 18px
.contacts-phones--wrap
  display flex
  flex-direction column
  padding-top 10px
.contacts-map--wrap .ymaps-2-1-74-inner-panes, .contacts-map--wrap .ymaps-2-1-74-map
  border-radius 10px