include ../../../../modules/mobile-tablet/tablet/tablet-catalog
include ../../../../modules/case/catalog-case/catalog-content
include ../../../../modules/case/sliders/stock-slider/stock-slider
include ../../../../modules/case/sliders/novelties-slider


