.content-404
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  background-size cover
  background-repeat no-repeat
  display flex
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20%;

  span
    font-size 36px
    color #2e2e2e
    text-align center
    font-family "Circe Regular",sans-serif

  a
    text-decoration underline
    font-family "Circe Regular",sans-serif
    padding-top 20px



.error-404
  font-family "Circe Bold", sans-serif
  font-size 240px
  color #5BDF78
  text-align center
  line-height 1

.error-search
  position relative
  width 100%
  padding-top 100px

  input
    width 500px

.error-search-button
  position absolute
  right 0
  background-color transparent
  border none
  padding: 12px 20px;
  .icon
    fill #2e2e2e
    size(20px)

.error__buttons
  display flex
  width 60%
  justify-content space-between
  padding-top 50px

  a
    text-decoration none
    width 48%

    &:hover
      color #fff

