section.basket
    .basket-wrap-content
        h2.section-title Корзина
        .basket-table--wrap
            form.basket-table-forn
                table.basket-table
                    thead
                        tr
                            th.basket-table-title Товар
                            th.basket-table-title.text-center Цена за единицу
                            th.basket-table-title.text-center Количество
                            th.basket-table-title.text-center Стоимость
                            tr.basket-table-title.text-center
                    tbody
                        tr.basket-content-items--wrap
                            td.basket-content-items
                                .basket-content-items--content
                                    img.basket-content-items__img(src="/static/img/general/bestseller/best-5-5.png")
                                    .basket-content-items__name--desc
                                        span.basket-content-items__name Бегония Элатиор 11
                                        .basket-attention-wrap
                                            span !
                                            p.basket-attention Товар в находится в статусе «Предзаказ»! Когда он появится в наличии, мы уведомим вас по электронной почте
                            td.text-center
                                span.basket-price 60 ₽
                            td.text-center
                                .best-product--info__price-quantity.basket-quantity
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                            td.text-center
                                span.basket-price 180 ₽
                            td.basket-content-items2
                                .basket-delete--item
                                    +icon('delete')
                        tr.basket-content-items--wrap
                            td.basket-content-items
                                .basket-content-items--content
                                    img.basket-content-items__img(src="/static/img/general/bestseller/best-5-5.png")
                                    .basket-content-items__name--desc
                                        span.basket-content-items__name Бегония Элатиор 11
                                        .basket-attention-wrap
                                            span !
                                            p.basket-attention Товар не подлежит отправке в регионы!
                            td.text-center
                                span.basket-price 60 ₽
                            td.text-center
                                .best-product--info__price-quantity.basket-quantity
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                            td.text-center
                                span.basket-price 180 ₽
                            td.basket-content-items2
                                .basket-delete--item
                                    +icon('delete')
                        tr.basket-content-items--wrap
                            td.basket-content-items
                                .basket-content-items--content
                                    img.basket-content-items__img(src="/static/img/general/bestseller/best-5-5.png")
                                    .basket-content-items__name--desc
                                        span.basket-content-items__name Бегония Элатиор 11
                            td.text-center
                                span.basket-price 60 ₽
                            td.text-center
                                .best-product--info__price-quantity.basket-quantity
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                            td.text-center
                                span.basket-price 180 ₽
                            td.basket-content-items2
                                .basket-delete--item
                                    +icon('delete')
                        tr.basket-content-items--wrap
                            td.basket-content-items
                                .basket-content-items--content
                                    img.basket-content-items__img(src="/static/img/general/bestseller/best-5-5.png")
                                    .basket-content-items__name--desc
                                        span.basket-content-items__name Бегония Элатиор 11
                                        .basket-attention-wrap
                                            span !
                                            p.basket-attention Товар в находится в статусе «Предзаказ»! Когда он появится в наличии, мы уведомим вас по электронной почте
                            td.text-center
                                span.basket-price 60 ₽
                            td.text-center
                                .best-product--info__price-quantity.basket-quantity
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                            td.text-center
                                span.basket-price 180 ₽
                            td.basket-content-items2
                                .basket-delete--item
                                    +icon('delete')
                ul.mobile-basket--list
                    li.mobile-basket--item
                        .basket-content-items--content
                            img.basket-content-items__img(src="/static/img/general/bestseller/best-5-5.png")
                            .basket-content-items__name--desc
                                span.basket-content-items__name Бегония Элатиор 11
                                .basket-attention-wrap
                                    span !
                        .mobile-basket-info-count-summ
                            .mobile-basket-info-summ
                                span.mobile-basket-info-summ-name Цена за еденицу
                                span 60 ₽
                            .mobile-basket-info-count
                                span.mobile-basket-info-summ-name Количество
                                .best-product--info__price-quantity.basket-quantity
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                        .mobile-basket-info-count-summ.mobile-basket-info-count-summ2
                            .mobile-basket-info-summ
                                span.mobile-basket-info-summ-name Стоимость
                                span 60 ₽
                            .mobile-basket-info-summ
                                span.mobile-basket-info-summ-name Дата отправки
                                input.mobile-basket-info-summ--input.mask-field-date(type="text" value="22.10.2019")
                    li.mobile-basket--item
                        .basket-content-items--content
                            img.basket-content-items__img(src="/static/img/general/bestseller/best-5-5.png")
                            .basket-content-items__name--desc
                                span.basket-content-items__name Бегония Элатиор 11
                                .basket-attention-wrap
                                    span !
                        .mobile-basket-info-count-summ
                            .mobile-basket-info-summ
                                span.mobile-basket-info-summ-name Цена за еденицу
                                span 60 ₽
                            .mobile-basket-info-count
                                span.mobile-basket-info-summ-name Количество
                                .best-product--info__price-quantity.basket-quantity
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                        .mobile-basket-info-count-summ.mobile-basket-info-count-summ2
                            .mobile-basket-info-summ
                                span.mobile-basket-info-summ-name Стоимость
                                span 60 ₽
                            .mobile-basket-info-summ
                                span.mobile-basket-info-summ-name Дата отправки
                                input.mobile-basket-info-summ--input.mask-field-date(type="text" value="22.10.2019")
                    li.mobile-basket--item
                        .basket-content-items--content
                            img.basket-content-items__img(src="/static/img/general/bestseller/best-5-5.png")
                            .basket-content-items__name--desc
                                span.basket-content-items__name Бегония Элатиор 11
                                .basket-attention-wrap
                                    span !
                        .mobile-basket-info-count-summ
                            .mobile-basket-info-summ
                                span.mobile-basket-info-summ-name Цена за еденицу
                                span 60 ₽
                            .mobile-basket-info-count
                                span.mobile-basket-info-summ-name Количество
                                .best-product--info__price-quantity.basket-quantity
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                        .mobile-basket-info-count-summ.mobile-basket-info-count-summ2
                            .mobile-basket-info-summ
                                span.mobile-basket-info-summ-name Стоимость
                                span 60 ₽
                            .mobile-basket-info-summ
                                span.mobile-basket-info-summ-name Дата отправки
                                input.mobile-basket-info-summ--input.mask-field-date(type="text" value="22.10.2019")


                .basket-promo-bonus-wrap
                    .col-xl-6.basket-promo-bonus
                        .basket-promo
                            span.basket-promo--title Промокод:
                            input(type="text" placeholder="545G-4SDS-GH56-RRT4")
                        .basket-bonus-hidden
                            .partner-login-button.basket-bonus-hidden__button Использовать бонусные баллы
                            a.basket-bonus-hidden__link(href="") Как работает бонусная программа
                        .basket-bonus
                            .basket-bous-balance
                                span.basket-bous-balance--title Ваш бонусный баланс
                                span.basket-bous-balance--count 198 баллов
                            .basket-use-bonus
                                span.basket-use-bonus--title Использовать баллы
                                input.basket-input-bonus#basket-bonus(type="text" name="bonus_basket" value="0")
                            #basket-bonus-js
                    .col-xl-6.basket-checkout
                        .basket-check-list2
                            ul.basket-check-list
                                li.basket-check-item
                                    span.basket-check-title Сумма:
                                    span.basket-check-count 720 ₽
                                li.basket-check-item
                                    span.basket-check-title Скидка:
                                    span.basket-check-count - 90 ₽
                                li.basket-check-item
                                    span.basket-check-title Итого:
                                    span.basket-check-count-big 630 ₽
                            button.subscribe-to-update--button(type="submit") Оформить заказ
            .basket-attention-popup
                .mobile-catalog-close
                    .mobile-catalog-close--icon
                        +icon('delete')
                .basket-attention-popup-wrap
                    span.basket-attention-popup-name Бегония Элатиор 11
                    .basket-attention-wrap
                        span !
                        p.basket-attention Товар в находится в статусе «Предзаказ»! Когда он появится в наличии, мы уведомим вас по электронной почте