.wrap-content
    .container
        .droplist-and-menu
            .droplist-on-head
                .droplist-on-head-absolute
                    include ../../modules/catalog-droplist/catalog-droplist
            .menu-head--wrapper
                include ../../modules/menu
        include ../../modules/breadcrumbs-v1/breadcrumbs-v1
    .container.wrap-sidebar--section
        include ../catalog/catalog-nine-squre/sidebar-catalog-products
        include ../catalog/catalog-nine-squre/content-catalog-products
    .order-call Заказать звонок