.wrap-content
    .container
        .droplist-and-menu
            .droplist-on-head
                .droplist-on-head-absolute
                    include ../../modules/catalog-droplist/catalog-droplist
            .menu-head--wrapper
                include ../../modules/menu
        include ../../modules/breadcrumbs-v1/breadcrumbs-v1-1
        include bonus-system-content/bonus-system-content
        include ../../modules/case/sliders/stock-slider/stock-slider
        include ../../modules/case/sliders/slider-copy3
    .order-call Заказать звонок