section.how-to-pay
    .how-to-pay--wrap
        .row
            .col-xl-8
                h2.section-title Как сделать заказ
                .pay-list--wrap
                    h4 Оформление заказа
                    ul.delivery-ways--list
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    p На самом первом этапе мы рекомендуем зарегистрироваться. Тогда Вам сразу станут доступны все возможности нашего интернет-магазина. При этом регистрация не обязательна.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    p Добавляете необходимый Вам товар в корзину, нажимая кнопку «Купить».
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    p После добавления всех товаров в корзину, переходите в корзину (в правом верхнем углу) и нажимаете кнопку «Оформить заказ».
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    p У Вас откроется форма заказа. Вам необходимо заполнить имеющиеся поля.

                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    p После заполнения, необходимо нажать кнопку «Подтвердить заказ».
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    p После подтверждения заказа Вы получите его копию на указанный вами электронный адрес. Паралелльно заказ поступает в обработку в наш интернет-магазин.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    p Менеджер перезванивает Вам по указанному номеру телефона, проверяет наличие товара, сверяет данные, оглашает точную стоимость доставки (если она выбрана), предоставляет реквизиты для оплаты.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    p После поступления денежных средств на Наш счет, Ваш заказ поступает на сборку.

                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    p Если товар «в наличии» сборка занимает в среднем 1-2 дня.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num
                                .delivery-ways--title-text
                                    p После сборки товар отправляется или ожидает Вас в нашем розничном магазине

            .col-xl-4.p-3.how-to-pay-margin
                h4 Полезная информация
                ul.useful-info
                    li.useful-info--item
                        p О любых изменениях статуса Вашего заказа Вы будет получать оповещение на указанную электронную почту.
                    li.useful-info--item
                        p Если сумма Вашего заказа меньше минимально требуемой, заказ не будет принят. Для этого дополните заказ до необходимой минимальной суммы, выбрав дополнительно товаров в магазине.
                    li.useful-info--item
                        p Если вы выбрали товар, не предназначенный для отправки в ваш регион, а доставляемый только курьером по г. Пенза и Пензенской области (например, комнатное растение или мешок садовой земли) – такой товар будет удален из Вашего заказа после обработки его оператором.


            .col-xl-9
                .pay-list--wrap.mt-5
                    h4 Возврат товара и денежных средств
                    ul.delivery-ways--list
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p Возврат Товара надлежащего качества не осуществляется согласно Перечню непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации, утвержденного Постановлением Правительства Российской Федерации от 19 января 1998 г. № 55.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p Семена и средства агрохимии возврату и обмену не подлежат (п. 13 Перечня непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар (утв. Постановлением Правительства РФ от 19.01.98 № 55).
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p Если другой заказанный товар Вам не подходит, Вы можете вернуть его Продавцу в течение 14 дней (после получения посылки) по адресу, указанному для возвратов. Возврат посылки осуществляется за счет Покупателя (Клиента), за исключением случаев возврата по причине брака, замен товара и недовложения/пересорта.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p В случае возврата по вине Продавца Покупателю будет возмещена стоимость товара, стоимость пересылки возврата. Заявление на возврат будет рассмотрено в срок не позднее 10 дней с даты его получения от Покупателя.

                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p Возврат денежных средств осуществляется посредством возврата стоимости оплаченного Товара банковским переводом, почтовым переводом, возвратом по той же системе, через которую был оплачен заказ или по согласованию с покупателем денежные средства могут быть перечислены на Бонусный счет Покупателя. Способ должен быть указан в заявлении на возврат Товара.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p В случае возврата на некорректный адрес денежные средства не возмещаются, товар обратно не пересылается.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p Внешний вид и комплектность Товара, а также комплектность всего Заказа должны быть проверены Получателем в момент доставки Товара.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p Возврат Товара ненадлежащего качества. Под товаром ненадлежащего качества подразумевается товар, который неисправен и не может обеспечить исполнение своих функциональных качеств. Полученный Товар должен соответствовать описанию на Сайте. Отличие элементов дизайна или оформления от заявленного на Сайте описания не является признаком ненадлежащего качества.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p При доставке Товара Покупатель ставит свою подпись в бланке доставки заказов. После получения Заказа претензии к внешним дефектам товара, его количеству, комплектности и товарному виду не принимаются.

                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p Если Покупателю был передан Товар ненадлежащего качества и оное не было заранее оговорено Продавцом, Покупатель вправе воспользоваться положениями ст. 18 «Права потребителя при обнаружении в товаре недостатков» Закона о защите прав потребителей.
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p Требования о возврате уплаченной за товар денежной суммы подлежат удовлетворению в течение 10 дней со дня предъявления соответствующего требования (ст. 22 Закона РФ «О защите прав потребителей»).

                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p Возврат денежных средств осуществляется посредством возврата стоимости оплаченного Товара банковским переводом, почтовым переводом, возвратом по той же системе, через которую был оплачен заказ или по согласованию с покупателем денежные средства могут быть перечислены на Бонусный счет Покупателя. Способ должен быть указан в заявлении на возврат Товара.

                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num2
                                .delivery-ways--title-text
                                    p В случае возврата товара на некорректный адрес денежные средства не возмещаются, товар обратно не пересылается.
                .pay-list--wrap.mt-5
                    h4 Урегулирование претензий
                    ul.delivery-ways--list
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num3
                                .delivery-ways--title-text
                                    p Если вы получили заказ, и у вас есть претензия, то ждём от вас письмо на адрес электронной почты internet-magazin@6sotok-pnz.ru
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num3
                                .delivery-ways--title-text
                                    p В письме просим сообщить номер заказа, прислать фото инвойса (упаковочного листа) и изложить суть претензии. На письма мы отвечаем в течение 1 рабочего дня. Если вы не получили от нас ответа, то, скорее всего, ваше письмо либо до нас не дошло, либо наш ответ попал к вам в папку «спам».
                        li
                            .delivery-ways--list-item
                                span.delivery-ways--num3
                                .delivery-ways--title-text
                                    p Обращаем ваше внимание на то, что претензии по качеству посадочного материала принимаются в течение 14 дней с момента получения заказа, для решения вопроса о компенсации обязательно прислать нам фотографию испорченного товара на адрес электронной почты (фото должно быть такого качества, чтобы можно было рассмотреть посадочный материал). Фотографию необходимо не вставлять в тело письма, а прикрепить как вложенный файл.


            .col-xl-3.p-3.stock-slider-none
                .delivery-stock
                    .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock1.png')")
                        span.sidebar-stock--item__text Свежая зелень — в каждый дом!
                        a.sidebar-stock--item__link(href="/")
                            span Подробнее
                            +icon('more-arrow')