section.bonus-system
    .bonus-system--wrap
        .row
            .col-xl-9.bonus-system--content
                h2.section-title Бонусная система
                p.pt-3.pb-4 Чтобы начать копить бонусные баллы, нужно зарегистироваться на нашем сайте. После этого они будут начисляться автоматически за каждый ваш заказ, за исключением платной доставки. Количество баллов можно узнать в личном кабинете или уточнить по телефон 8 (927) 289-85-89.
                .bonus-system--items.pb-4
                    span В бонусной системе нашего магазина существует 3 уровня накопления баллов.
                    span На 1 уровне (до 5 тыс р.) бонусами возвращается 2% от покупки.
                    span На 2 уровне (5 - 20 тыс р.) бонусами возвращается 5% от покупки.
                    span На 3 уровне (20 - 40 тыс р.) бонусами возвращается 8% от покупки.
                span Бонусными баллами можно оплатить не более 50% от суммы заказа.
                .mb-5.mt-5.bonus-system--baner.bonus-page(style="background-image:url('static/img/general/slider/leo.png')")
                    h2.bonus-system--title Оплачивайте часть заказа бонусами!
                    a(href="/").use-bonus-system.mt-4 Использовать бонусы
            .col-xl-3.pt-3.stock-slider-none
                .delivery-stock
                    .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock2.png')")
                        span.sidebar-stock--item__text Гибрид подсолнечника по сниженной цене
                        a.sidebar-stock--item__link(href="/")
                            span Подробнее
                            +icon('more-arrow')
