.manufacturers-alphabet-block
  background: #EBFCE8;
  border-radius: 24px 0px;
  padding 15px
  width fit-content

.manufacturers-alphabet-block--letters
  display flex
  font-family "Circe Bold",sans-serif
  padding-top: 15px;
  color #2e2e2e
  flex-flow: row wrap;

  a
    margin-right 15px
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: calc(3% - 0.8rem);
    flex-direction: column;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 14px;

.manufacturers-item
  background: #EBFCE8;
  border-radius: 24px 0px;
  padding 15px
  color #2e2e2e
  margin-top 25px

.delivery-ways--num5
  font-family "Circe Bold",sans-serif
  font-size 18px

.manufacturers-item__links
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-family "Circe Regular",sans-serif



.manufacturers-item__link
  flex-shrink: 1;
  flex-grow: 0;
  -ms-flex-preferred-size: calc(33% - 0.8rem);
  flex-basis: calc(33% - 0.8rem);
  flex-direction: column;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top 25px
  font-size 14px

  a
    width max-content
    line-height 0.8
    border-bottom 1px solid #2e2e2e

