.partner-about p
  margin-bottom 20px
  font-family "Circe Regular",sans-serif

.partner-register h4
  padding 20px 0

.partner-register p
  font-family "Circe Regular",sans-serif
  display block
  padding-bottom 20px

.partner-register-button
  display block
  cursor pointer
  max-width 270px
  color #FF4141 !important
  background-color transparent !important
  font-family "Circe Bold",sans-serif !important
  border 1px solid #5BDF78 !important
  margin-bottom 40px

  &:hover
    background: #FF4141 !important
    box-shadow: 2px 6px 10px rgba(255, 65, 65, 0.3) !important
    border 1px solid #FF4141 !important
    color #fff !important

  &:active
    box-shadow: inset 2px 6px 10px rgba(196,24,24,0.5) !important


.partner-register--wrap
  display none

.partner-register-person-data
  background-color #EBFCE8
  border-radius: 24px 0px;
  padding 25px
  margin-bottom 25px

  h3
    padding-bottom 20px


.partner-register-person-data--info
  display flex
  flex-direction column
  margin-bottom 30px

  &:last-child
    margin-bottom 15px

  .select-options
    position relative
    font-family "Circe Regular",sans-serif


.partner-register-person-data--info input
  background: #FFFFFF;
  box-shadow: inset 1px 2px 10px rgba(46, 46, 46, 0.2);
  border-radius: 24px;
  padding 12px
  border none

.partner-register-person-data--info-aggre input + label:before
  box-shadow: inset 1px 2px 10px rgba(46, 46, 46, 0.2) !important;
  border-radius: 6px !important;
  width 20px
  height 20px

.partner-register-person-data--info-aggre input + label:after
  box-shadow: 2px 0px 0 #5bdf78, -2px 0px 0 #5bdf78, 4px 0 0 #5bdf78, 4px -2px 0 #5bdf78, 4px -4px 0 #5bdf78, 4px -6px 0 #5bdf78, 4px -8px 0 #5bdf78 !important
  left 5px !important
  top 12px !important

.partner-register-person-data--info-aggre input + label
  display flex
  align-items center
  color #5E5E5E
  font-family "Circe Light",sans-serif

.partner-register-person-data--info-aggre a
  margin 0 5px
  color #5E5E5E
  border-bottom 1px solid #5E5E5E
  line-height 0.8

.partner-register-person-data--select
  display none

.partner-register-person-data .select-styled
    background: #FFFFFF;
    color #2E2E2E
    font-family "Circe Regular",sans-serif
    box-shadow: 1px 2px 10px rgba(46, 46, 46, 0.2);
    border-radius: 24px;
    padding 12px
    width 100%

.partner-login--wrap
  padding 0

.partner-login-button
  width: 100%;
  padding: 12px;
  color: #5bdf78;
  background: #fff;
  box-shadow: 2px 6px 10px rgba(91,223,120,0.4);
  border-radius: 30px 0px;
  text-align: center;
  transition: linear 0.2s;
  font-family: "Circe Bold", sans-serif;
  border: 1px solid #5bdf78;
  font-size 18px

  &:hover
    background-color #FF4141
    color #fff
    box-shadow: 2px 6px 10px rgba(255, 65, 65, 0.3);
    border: 1px solid #FF4141;

  &:active
    box-shadow: inset 2px 6px 10px rgba(196,24,24,0.5);
    border: 1px solid #FF4141;



