.check-my-order--main
    span.check-my-order-title Проверить статус заказа
    input.check-my-order-input(type="text" placeholder="Введите номер заказа")
    button.check-my-order-button.all-buttons-green(type="submit") Проверить