.reviews-main
    h2.section-title Ваши отзывы
    .reviews-main--wrapper
        .reviews-main-js
            .reviews-main--item
                p.reviews-main--item__text Магазин понравился! Большой выбор семян разных производителей. Вежливые и грамотные продавцы.
                .reviews-main--item__name--wrap
                    span.reviews-main--item__name.reviews-info--man Оксана Кожнякова, 
                    span.reviews-main--item__city.reviews-info--man Пенза, 
                    span.reviews-main--item__date.reviews-info--man 03.27.2019
            .reviews-main--item
                p.reviews-main--item__text Магазин понравился! Большой выбор семян разных производителей. Вежливые и грамотные продавцы.
                .reviews-main--item__name--wrap
                    span.reviews-main--item__name.reviews-info--man Оксана Кожнякова,
                    span.reviews-main--item__city.reviews-info--man Пенза,
                    span.reviews-main--item__date.reviews-info--man 03.27.2019
            .reviews-main--item
                p.reviews-main--item__text Магазин понравился! Большой выбор семян разных производителей. Вежливые и грамотные продавцы.
                .reviews-main--item__name--wrap
                    span.reviews-main--item__name.reviews-info--man Оксана Кожнякова,
                    span.reviews-main--item__city.reviews-info--man Пенза,
                    span.reviews-main--item__date.reviews-info--man 03.27.2019
        .reviews-main-js-controls-dots
        .reviews-main-js-controls-arrows
            .reviews-main-js__controls--prev.reviews-arrows
                +icon('arrow-prev')
            .reviews-main-js__controls--next.reviews-arrows
                +icon('arrow-next')
    a.best-button-show-more.review-best-button(href="") Все отзывы