.catalog-main--wrap
    .catalog-main Каталог товаров
        +icon('arrow-catalog')
    ul.catalog-main--items
        li.catalog-main--item--wrap
            .catalog-main--item
                span.catalog-main--item__link--count Горшечные растения (69)
                +icon('arrow-catalog')

            ul.catalog-main--item--level2
                .catalog-main--item--level2__title
                    span.catalog-main--item--level2__title--count Горшки,кашпо (398)
                    +icon('arrow-catalog')
                li.catalog-main--item--level3
                    .catalog-main--item--level3__title
                        .catalog-main--item__link Балконные ящики и кашпо.Крепление для ящиков
                            span.catalog-main--item__link--count (32)
                        +icon('arrow-catalog')
                    ul.catalog-main--item--level4
                        a.catalog-main--items__links(href="/") Ссылка 1
                        a.catalog-main--items__links(href="/") Ссылка 2
                        a.catalog-main--items__links(href="/") Ссылка 3

        li.catalog-main--item--wrap
            .catalog-main--item
                span.catalog-main--item__link--count Для комнатных цветов (48)
                +icon('arrow-catalog')

            ul.catalog-main--item--level2
                .catalog-main--item--level2__title
                    span.catalog-main--item--level2__title--count Пластиковые горшки и кашпо (305)
                    +icon('arrow-catalog')
                li.catalog-main--item--level3
                    .catalog-main--item--level3__title
                        .catalog-main--item__link Подвесные и настенные кашпо
                            span.catalog-main--item__link--count (29)
                        +icon('arrow-catalog')
                    ul.catalog-main--item--level4
                        a.catalog-main--items__links(href="/") Ссылка 1
                        a.catalog-main--items__links(href="/") Ссылка 2
                        a.catalog-main--items__links(href="/") Ссылка 3

                li.catalog-main--item--level3
                    .catalog-main--item--level3__title
                        .catalog-main--item__link Стеклянные горшки
                            span.catalog-main--item__link--count (5)
                        +icon('arrow-catalog')
                    ul.catalog-main--item--level4
                        a.catalog-main--items__links(href="/") Ссылка 1
                        a.catalog-main--items__links(href="/") Ссылка 2
                        a.catalog-main--items__links(href="/") Ссылка 3

                li.catalog-main--item--level3
                    .catalog-main--item--level3__title
                        .catalog-main--item__link Этажерки, каскады
                            span.catalog-main--item__link--count (27)
                        +icon('arrow-catalog')
                    ul.catalog-main--item--level4
                        a.catalog-main--items__links(href="/") Ссылка 1
                        a.catalog-main--items__links(href="/") Ссылка 2
                        a.catalog-main--items__links(href="/") Ссылка 3


        //li.catalog-main--item--wrap
        //    .catalog-main--item
        //        //a(href="/").catalog-main--item__link Книжная продукция
        //        span.catalog-main--item__link--count Книжная продукция (2)
        //        +icon('arrow-catalog')
        //li.catalog-main--item--wrap
        //    .catalog-main--item
        //        //a(href="/").catalog-main--item__link Новогодние товары
        //        span.catalog-main--item__link--count Новогодние товары (18)
        //        +icon('arrow-catalog')
        //li.catalog-main--item--wrap
        //    .catalog-main--item
        //        //a(href="/").catalog-main--item__link Посадочный материал. Овощи
        //        span.catalog-main--item__link--count Посадочный материал. Овощи (38)
        //        +icon('arrow-catalog')
        //li.catalog-main--item--wrap
        //    .catalog-main--item
        //        //a(href="/").catalog-main--item__link Посадочный материал. Цветы
        //        span.catalog-main--item__link--count Посадочный материал. Цветы (620)
        //        +icon('arrow-catalog')
        //li.catalog-main--item--wrap
        //    .catalog-main--item
        //        //a(href="/").catalog-main--item__link Проращиватели
        //        span.catalog-main--item__link--count Проращиватели (8)
        //        +icon('arrow-catalog')
        //li.catalog-main--item--wrap
        //    .catalog-main--item
        //        //a(href="/").catalog-main--item__link Рассада
        //        span.catalog-main--item__link--count Рассада (28)
        //        +icon('arrow-catalog')
        //li.catalog-main--item--wrap
        //    .catalog-main--item
        //        //a(href="/").catalog-main--item__link Садовый декор
        //        span.catalog-main--item__link--count Садовый декор (6)
        //        +icon('arrow-catalog')
        //li.catalog-main--item--wrap
        //    .catalog-main--item
        //        //a(href="/").catalog-main--item__link Садовый инвентарь
        //        span.catalog-main--item__link--count Садовый инвентарь (620)
        //        +icon('arrow-catalog')
        //li.catalog-main--item--wrap
        //    .catalog-main--item
        //        //a(href="/").catalog-main--item__link Саженцы
        //        span.catalog-main--item__link--count Саженцы (361)
        //        +icon('arrow-catalog')