// ===================================  Отзывы на главной ===================================//
.reviews-main--item
  background: #EBFCE8;
  padding 40px 30px

.reviews-main--item__text
  font-family "Circe Light",sans-serif
  font-size 20px
  margin-bottom 30px

.reviews-main
  padding  0 15%
  position relative
  margin-bottom 130px

.reviews-main--wrapper
  position relative

.reviews-main--item__name--wrap
  text-align right

.reviews-main--item__name
  font-family "Circe Bold",sans-serif !important

.reviews-info--man
  font-family "Circe Regular",sans-serif

.reviews-main-js-controls-arrows
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  top 45%
.reviews-main-js
  .slick-list
    border-radius: 30px 0px;


.reviews-main-js__controls--prev
  left -45px
.reviews-main-js__controls--next
  right  -45px
.reviews-arrows
  position absolute
  cursor pointer
  padding 0 10px

  .icon
    size(15px,25px)
    fill #5BDF78
    filter: drop-shadow(0px 7px 3px #5bdf78);

.reviews-main-js-controls-dots
  position absolute
  display flex
  bottom 0
  width: 100%;
  justify-content: center;
  bottom -30px

.reviews-main-js-controls-dots .slick-dots
  display flex

.reviews-main-js-slider__dots
  background-color: rgba(91, 223, 120, 0.5);
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  transition linear .2s

.reviews-main-js-controls-dots li
  margin-right 15px
  display: flex;
  align-items: center;
  justify-content: center;

.reviews-main-js-controls-dots li:last-child
  margin-right 0

.slick-active .reviews-main-js-slider__dots
  transform scale(1.6)
  background-color #5BDF78
  box-shadow: 0px 6px 8px -2px #5bdf78;

// ===================================  Отзывы на главной ===================================//