section.breadcrumbs
    ul.breadcrumbs-list
        li.breadcrumbs--items.breadcrumbs--items--after
            a.breadcrumbs--items__link(href="/") Главная
                +icon('arrow-next')
        li.breadcrumbs--items.breadcrumbs--items--after
            a.breadcrumbs--items__link(href="/") Каталог товаров
                +icon('arrow-next')
        li.breadcrumbs--items.breadcrumbs--items--after
            a.breadcrumbs--items__link(href="/") Горшечные растения
                +icon('arrow-next')
        li.breadcrumbs--items.breadcrumbs--items--before
            a.breadcrumbs--items__link(href="/") Бегония Элатиор 11