section.favourite
    .favourite-wrap
        .row
            .col-xl-9
                .favourite-wrapper
                    h2.section-title Избранное
                    .best-product-wrap
                        .best-product--container
                            .best-product--item
                                .best-product--item__link--wrap
                                    .best-product--item__attr
                                        span.best-product--item__hit.product-attr-status Хит
                                    a(href="/").best-product--item__added-pic
                                        span.best-product--item__added-for-pic
                                            +icon('added-pic')
                                        img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                                    .shop-attr.best-product--shop-attr
                                        span.shop--compare.add-to-compare-catalog
                                            +icon('compare')
                                        span.shop--favourite.add-to-favourite-catalog
                                            +icon('star2')
                                            span.shop-favourite-add-to-favourite Добавить в избранное
                                .best-product--info
                                    a.best-product--info__link(href="/") Алоказия Полли 12 40
                                    span.best-product--info__in-stock В наличии
                                    .best-product--info__price-quantity
                                        span.best-product--info__price 300.00 &#8381
                                        .best-product--info__quantity
                                            button.sub(type="button") -
                                            input.best-quantity(value="1" min="1")
                                            button.add(type="button") +
                                    include ../../../modules/buttons/best-add-to-cart

                            .best-product--item
                                .best-product--item__link--wrap
                                    .best-product--item__attr
                                        span.best-product--item__hit.product-attr-status Хит
                                        span.best-product--item__new.product-attr-status New
                                        span.best-product--item__discount.product-attr-status %
                                    a(href="/").best-product--item__added-pic
                                        span.best-product--item__added-for-pic
                                            +icon('added-pic')
                                        img(src="/static/img/general/bestseller/best-2-2.png").best-product--item__img
                                    .shop-attr.best-product--shop-attr
                                        span.shop--compare.add-to-compare-catalog
                                            +icon('compare')
                                        span.shop--favourite.add-to-favourite-catalog
                                            +icon('star2')
                                            span.shop-favourite-add-to-favourite Добавить в избранное
                                .best-product--info
                                    a.best-product--info__link(href="/") Антуриум Андре Микс 12 37
                                    span.best-product--info__in-stock В наличии
                                    .best-product--info__price-quantity
                                        span.best-product--info__price 590.00 &#8381
                                        .best-product--info__quantity
                                            button.sub(type="button") -
                                            input.best-quantity(value="1" min="1")
                                            button.add(type="button") +
                                    include ../../../modules/buttons/best-add-to-cart

                            .best-product--item
                                .best-product--item__link--wrap
                                    .best-product--item__attr
                                        span.best-product--item__hit.product-attr-status Хит
                                    a(href="/").best-product--item__added-pic
                                        span.best-product--item__added-for-pic
                                            +icon('added-pic')
                                        img(src="/static/img/general/bestseller/best-3-3.png").best-product--item__img
                                    .shop-attr.best-product--shop-attr
                                        span.shop--compare.add-to-compare-catalog
                                            +icon('compare')
                                        span.shop--favourite.add-to-favourite-catalog
                                            +icon('star2')
                                            span.shop-favourite-add-to-favourite Добавить в избранное
                                .best-product--info
                                    a.best-product--info__link(href="/") Аспарагус Микс 12 35
                                    span.best-product--info__in-stock.preorder-best-product Предзаказ
                                    .best-product--info__price-quantity
                                        span.best-product--info__price 230.00 &#8381
                                        .best-product--info__quantity
                                            button.sub(type="button") -
                                            input.best-quantity(value="1" min="1")
                                            button.add(type="button") +
                                    include ../../../modules/buttons/best-add-to-cart
                            .best-product--item
                                .best-product--item__link--wrap
                                    .best-product--item__attr
                                        span.best-product--item__hit.product-attr-status Хит
                                    a(href="/").best-product--item__added-pic
                                        span.best-product--item__added-for-pic
                                            +icon('added-pic')
                                        img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                                    .shop-attr.best-product--shop-attr
                                        span.shop--compare.add-to-compare-catalog
                                            +icon('compare')
                                        span.shop--favourite.add-to-favourite-catalog
                                            +icon('star2')
                                            span.shop-favourite-add-to-favourite Добавить в избранное
                                .best-product--info
                                    a.best-product--info__link(href="/") Алоказия Полли 12 40
                                    span.best-product--info__in-stock В наличии
                                    .best-product--info__price-quantity
                                        span.best-product--info__price 300.00 &#8381
                                        .best-product--info__quantity
                                            button.sub(type="button") -
                                            input.best-quantity(value="1" min="1")
                                            button.add(type="button") +
                                    include ../../../modules/buttons/best-add-to-cart

                            .best-product--item
                                .best-product--item__link--wrap
                                    .best-product--item__attr
                                        span.best-product--item__hit.product-attr-status Хит
                                        span.best-product--item__new.product-attr-status New
                                        span.best-product--item__discount.product-attr-status %
                                    a(href="/").best-product--item__added-pic
                                        span.best-product--item__added-for-pic
                                            +icon('added-pic')
                                        img(src="/static/img/general/bestseller/best-2-2.png").best-product--item__img
                                    .shop-attr.best-product--shop-attr
                                        span.shop--compare.add-to-compare-catalog
                                            +icon('compare')
                                        span.shop--favourite.add-to-favourite-catalog
                                            +icon('star2')
                                            span.shop-favourite-add-to-favourite Добавить в избранное
                                .best-product--info
                                    a.best-product--info__link(href="/") Антуриум Андре Микс 12 37
                                    span.best-product--info__in-stock В наличии
                                    .best-product--info__price-quantity
                                        span.best-product--info__price 590.00 &#8381
                                        .best-product--info__quantity
                                            button.sub(type="button") -
                                            input.best-quantity(value="1" min="1")
                                            button.add(type="button") +
                                    include ../../../modules/buttons/best-add-to-cart

                            .best-product--item
                                .best-product--item__link--wrap
                                    .best-product--item__attr
                                        span.best-product--item__hit.product-attr-status Хит
                                    a(href="/").best-product--item__added-pic
                                        span.best-product--item__added-for-pic
                                            +icon('added-pic')
                                        img(src="/static/img/general/bestseller/best-3-3.png").best-product--item__img
                                    .shop-attr.best-product--shop-attr
                                        span.shop--compare.add-to-compare-catalog
                                            +icon('compare')
                                        span.shop--favourite.add-to-favourite-catalog
                                            +icon('star2')
                                            span.shop-favourite-add-to-favourite Добавить в избранное
                                .best-product--info
                                    a.best-product--info__link(href="/") Аспарагус Микс 12 35
                                    span.best-product--info__in-stock.preorder-best-product Предзаказ
                                    .best-product--info__price-quantity
                                        span.best-product--info__price 230.00 &#8381
                                        .best-product--info__quantity
                                            button.sub(type="button") -
                                            input.best-quantity(value="1" min="1")
                                            button.add(type="button") +
                                    include ../../../modules/buttons/best-add-to-cart

            .col-xl-3.p-3.stock-slider-none
                .delivery-stock
                    .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock2.png')")
                        span.sidebar-stock--item__text Гибрид подсолнечника по сниженной цене
                        a.sidebar-stock--item__link(href="/")
                            span Подробнее
                            +icon('more-arrow')
                    .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock1.png')")
                        span.sidebar-stock--item__text Свежая зелень — в каждый дом!
                        a.sidebar-stock--item__link(href="/")
                            span Подробнее
                            +icon('more-arrow')
