.content-section__wrapper.best-product-first-child
    include ../../../modules/menu
    include ../../../modules/slider-main/slider-main
    include ../../../modules/mobile-tablet/tablet/tablet-catalog
    include ../../../modules/case/bestseller
    include ../../../modules/case/novelties
    include ../../../modules/case/sale
    include ../../../modules/case/sliders/mobile-slider/mobile-slider-int
    include ../../../modules/case/sliders/mobile-slider/mobile-slider-news


