.sidebar-news-wrap
    h2.section-title Новости
    ul.sidebar-news-int--list
        li.sidebar-news-int--item
            span.sidebar-news-int--item__title Поступление семенного картофеля!
            span.sidebar-news-int--item__date 15.03.2019
            p.sidebar-news-int--item__text Рады сообщить, что в продажу поступил семенной картофель
            a.sidebar-news-int--item__link(href="/") Читать полностью
                +icon('more-arrow')
        li.sidebar-news-int--item
            span.sidebar-news-int--item__title Поступление Лука Севка из Голландии!
            span.sidebar-news-int--item__date 15.02.2019
            p.sidebar-news-int--item__text Дорогие дачники! В продажу поступила первая партия
            a.sidebar-news-int--item__link(href="/") Читать полностью
                +icon('more-arrow')
        li.sidebar-news-int--item
            span.sidebar-news-int--item__title Микробиологических Препаратов «Сияние»
            span.sidebar-news-int--item__date 15.03.2019
            p.sidebar-news-int--item__text Спешим сообщить, что поступили удобрения линейки «Си
            a.sidebar-news-int--item__link(href="/") Читать полностью
                +icon('more-arrow')
        li.sidebar-news-int--item
            span.sidebar-news-int--item__title Поступление свежих семян от Агрофирмы «Семко»
            span.sidebar-news-int--item__date 15.03.2019
            p.sidebar-news-int--item__text В продажу поступила очередная партия свежих семя
            a.sidebar-news-int--item__link(href="/") Читать полностью
                +icon('more-arrow')
    a.sidebar-news-int--item__link(href="/") Все новости
        +icon('more-arrow')