.breadcrumbs-list
  display: flex;
  font-family "Circe Light",sans-serif
.breadcrumbs--items__link
  font-size 14px
  display flex
  justify-content center
  align-items center
  .icon
    size(7px)
    margin: 0px 7px;


.breadcrumbs--items--before a
  font-family "Circe Bold",sans-serif
  color #5BDF78