.wrap-content
    .container.wrap-sidebar--section
        include index-elem/sidebar
        include index-elem/content-index
    .sales-form-wrap
        .container
            include ../../modules/sales-form/sales-form
            include ../../modules/reviews/reviews
    .order-call Заказать звонок
