section.catalog
    .best-product-wrap.catalog-product--wrap
        .best-product--container.catalog-product--container
            .best-product--item.catalog-product--item
                .best-product--item__link--wrap.catalog-product--item__link--wrap
                    a(href="/").best-product--item__added-pic.catalog-product--item__added-pic
                        img(src="/static/img/general/catalog/cat-1.png").best-product--item__img.catalog-product--item__img
                .best-product--info.catalog-product--info
                    a.best-product--info__link.catalog-product--info__link(href="/") Посадочный материал. Овощи
                        span.catalog-product--list__count (28)
                    a.ss-button.catalog-product--open-button(href="/") Открыть
            .best-product--item.catalog-product--item
                .best-product--item__link--wrap.catalog-product--item__link--wrap
                    a(href="/").best-product--item__added-pic.catalog-product--item__added-pic
                        img(src="/static/img/general/catalog/cat-2.png").best-product--item__img.catalog-product--item__img
                .best-product--info.catalog-product--info
                    a.best-product--info__link.catalog-product--info__link(href="/") Посадочный материал. Цветы
                        span.catalog-product--list__count (620)
                    a.ss-button.catalog-product--open-button(href="/") Открыть
            .best-product--item.catalog-product--item
                .best-product--item__link--wrap.catalog-product--item__link--wrap
                    a(href="/").best-product--item__added-pic.catalog-product--item__added-pic
                        img(src="/static/img/general/catalog/cat3.png").best-product--item__img.catalog-product--item__img
                .best-product--info.catalog-product--info
                    a.best-product--info__link.catalog-product--info__link(href="/") Новогодние товары
                        span.catalog-product--list__count (18)
                    a.ss-button.catalog-product--open-button(href="/") Открыть
            .best-product--item.catalog-product--item
                .best-product--item__link--wrap.catalog-product--item__link--wrap
                    a(href="/").best-product--item__added-pic.catalog-product--item__added-pic
                        img(src="/static/img/general/catalog/cat4.png").best-product--item__img.catalog-product--item__img
                .best-product--info.catalog-product--info
                    a.best-product--info__link.catalog-product--info__link(href="/") Рассада
                        span.catalog-product--list__count (82)
                    a.ss-button.catalog-product--open-button(href="/") Открыть
            .best-product--item.catalog-product--item
                .best-product--item__link--wrap.catalog-product--item__link--wrap
                    a(href="/").best-product--item__added-pic.catalog-product--item__added-pic
                        img(src="/static/img/general/catalog/cat5.png").best-product--item__img.catalog-product--item__img
                .best-product--info.catalog-product--info
                    a.best-product--info__link.catalog-product--info__link(href="/") Тара для рассады
                        span.catalog-product--list__count (65)
                    a.ss-button.catalog-product--open-button(href="/") Открыть
            .best-product--item.catalog-product--item
                .best-product--item__link--wrap.catalog-product--item__link--wrap
                    a(href="/").best-product--item__added-pic.catalog-product--item__added-pic
                        img(src="/static/img/general/catalog/cat6.png").best-product--item__img.catalog-product--item__img
                .best-product--info.catalog-product--info
                    a.best-product--info__link.catalog-product--info__link(href="/") Удобрения
                        span.catalog-product--list__count (388)
                    a.ss-button.catalog-product--open-button(href="/") Открыть
            .best-product--item.catalog-product--item
                .best-product--item__link--wrap.catalog-product--item__link--wrap
                    a(href="/").best-product--item__added-pic.catalog-product--item__added-pic
                        img(src="/static/img/general/catalog/cat7.png").best-product--item__img.catalog-product--item__img
                .best-product--info.catalog-product--info
                    a.best-product--info__link.catalog-product--info__link(href="/") Зоотовары
                        span.catalog-product--list__count (158)
                    a.ss-button.catalog-product--open-button(href="/") Открыть
