section.register-login
    .register-login-wrap
        .row
            .col-xl-9
                h2.section-title Вход в личный кабинет
                form.register-login-form
                    .register-login-data
                        h5 Введите пароль
                        .register-login-data--info
                            input(type="text" placeholder="0 0 0 0 0 0")
                        button.partner-login-button.register-login--button-gray(type="submit" href="") Войти
                        .register-forget-pass--wrap
                            a.register-login-forget-pass(href="/") Забыли пароль?
                            span На ваш номер отправлено СМС с кодом
            .col-xl-3.p-3.stock-slider-none
                .delivery-stock
                    .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock2.png')")
                        span.sidebar-stock--item__text Гибрид подсолнечника по сниженной цене
                        a.sidebar-stock--item__link(href="/")
                            span Подробнее
                            +icon('more-arrow')