footer
  background-color #F4F4F4
  flex 0 0 auto


.footer-support-and-extra
  display flex
  justify-content space-between
  padding 40px 0

.support-extra
  display block
  margin 0 0 15px
  font-family "Circe Bold",sans-serif
  color #2E2E2E

.support-extra-list
  font-family "Circe Regular",sans-serif
  color #2E2E2E

.support-extra-list--item
  margin-bottom 5px

.copyright-footer
  display flex
  flex-direction column
  margin-bottom 40px

.copy-year
  font-family "Circe Regular",sans-serif

.copy-link
  text-transform uppercase
  margin 0px 5px
  font-family "Circe Bold",sans-serif
  color #2E2E2E

.copy-sicret
  font-family "Circe Regular",sans-serif
  text-decoration underline
  color #2E2E2E

.footer-subscribe
  display flex
  flex-direction column

.subscribe-to-update--input
  font-family "Circe Regular",sans-serif
  padding: 15px 20px;
  border none
  background: #FFFFFF;
  color: #ADADAD
  box-shadow: inset 2px 2px 6px rgba(46, 46, 46, 0.2);
  border-radius: 37.5px;
  margin-bottom 15px

.subscribe-to-update--input::placeholder
  color: #ADADAD

.subscribe-to-update--button
  font-family "Circe Regular",sans-serif
  color #fff
  padding: 15px 20px;
  border none
  background: #5BDF78;
  box-shadow: 3px 6px 8px rgba(91, 223, 120, 0.4);
  border-radius: 30px 0px;
  margin-bottom 10px

.subscribe-to-update--text
  font-family "Circe Regular",sans-serif
  font-size 12px
  color #888888

.footer-contacts
  display flex
  flex-direction column
  color #2E2E2E
  font-family "Circe Regular",sans-serif

.support-phone
  font-family "Circe Bold",sans-serif
  margin-bottom 10px

.support-address
  display: block;
  margin-bottom 8px

.support-social
  display flex

.support-social-link
  margin-right 12px

  .icon
    size(30px)
    fill #5BDF78

.support-social-link:last-child
  margin-right 0px

.footer-support-footer-extra--wrap,.footer-subscribe-footer-contacts--wrap
  display flex
  justify-content space-between

