section.stock-item
    .all-stock-content-wrap
        h2.section-title Акция
        .all-stock-content--list
            .all-stock-content--item
                .row
                    .col-xl-9
                        .all-stock-content--item__text
                            p Чтобы начать копить бонусные баллы, нужно зарегистироваться на нашем сайте. После этого они будут начисляться автоматически за каждый ваш заказ, за исключением платной доставки. Количество баллов можно узнать в личном кабинете или уточнить по телефон 8 (927) 289-85-89.
                            .all-stock-content--item__text2
                                span В бонусной системе нашего магазина существует 3 уровня накопления баллов.
                                span На 1 уровне (до 5 тыс р.) бонусами возвращается 2% от покупки.
                                span На 2 уровне (5 - 20 тыс р.) бонусами возвращается 5% от покупки.
                                span На 3 уровне (20 - 40 тыс р.) бонусами возвращается 8% от покупки.
                                span.all-stock-content--item__text3 Бонусными баллами можно оплатить не более 50% от суммы заказа.

                    .col-xl-3
                        .delivery-stock
                            .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock2.png')")
                                span.sidebar-stock--item__text Гибрид подсолнечника по сниженной цене
                                a.sidebar-stock--item__link(href="/")
                                    span Подробнее
                                    +icon('more-arrow')