.filter--price--inputs
  display flex
  justify-content space-between
.section-title--filter
  font-family: "Circe Bold", sans-serif;
  padding: 15px 0px;
  display: block;

.filter--price
  border-radius: 24px 0px;
  padding: 12px 20px;
  font-size: 16px;
  color: #2e2e2e;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between
  align-items: center;
  cursor: pointer;
  background: #BAF9B0;
  font-family "Circe Light", sans-serif

  .icon
    width: 12px;
    height: 12px;
    fill: #2e2e2e;
    transform rotate(180deg)

#hidden1,#hidden2
  background: #AFF2B4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width 63px
  height 29px
  border none
  text-align center
  font-family "Circe Bold",sans-serif

.filter-price--wrap
  margin-top: -25px;
  background: #F2FEF0;
  border-radius: 0px 0 24px 0;
  padding: 45px 18px 30px;
  display none

.filter-catalog--wrap
  border-radius 24px 0
  background: #BAF9B0;

.filter--price--inputs
  margin-bottom 20px

.filter--price-js
  background: #888888 !important;
  border-radius: 10px !important;
  height 5px !important
  border none !important

.filter--price-js .ui-slider-range
  background: #5BDF78;
  border-radius: 10px;
  border none

.filter--price-js .ui-slider-handle
  background: #5BDF78 !important;
  box-shadow: 1px 2px 6px rgba(91, 223, 120, 0.7) !important;
  border-radius 50%
  outline none
  border none !important
  top: -0.5em !important;

.max-and-min--values
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family "Circe Bold", sans-serif

.filter-type__input
  position absolute
  opacity 0
  display none

.filter-type__item
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-bottom: 0;
  font-family "Circe Light",sans-serif
  font-size 15px
  display flex
  padding-bottom 15px

  &:last-child
    padding-bottom 0

.filter-type__input-touch:before
  content: '';
  margin-right: 10px;
  display: flex;
  width: 20px;
  height: 20px;
  background: #fff;
  box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

.filter-type__input-touch.checked:after
  content: '';
  position: absolute;
  left: 5px;
  top: 10px;
  background: #5bdf78;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: -4px 0px 0 #5bdf78, 2px 0px 0 #5bdf78, -2px 0px 0 #5bdf78, 4px 0 0 #5bdf78, 4px -2px 0 #5bdf78, 4px -4px 0 #5bdf78, 4px -6px 0 #5bdf78, 4px -8px 0 #5bdf78, 4px -10px 0 #5bdf78;
  box-shadow: -4px 0px 0 #5bdf78, 2px 0px 0 #5bdf78, -2px 0px 0 #5bdf78, 4px 0 0 #5bdf78, 4px -2px 0 #5bdf78, 4px -4px 0 #5bdf78, 4px -6px 0 #5bdf78, 4px -8px 0 #5bdf78, 4px -10px 0 #5bdf78;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

.filter-type__text span
  margin-left 5px

.filter-buttons-search
  display flex
  justify-content space-between
  margin-top 40px
  font-size 14px
  width 100%

  a
    width 46%

.filter-apply
    &:hover
      color #fff


.green-button-filter
  background-color #fff !important
  border 1px solid #5BDF78 !important
  box-shadow: 3px 6px 8px rgba(91, 223, 120, 0.4) !important
  color #2e2e2e !important




