.wrap-content
    .container
        .droplist-and-menu
            .droplist-on-head
                .droplist-on-head-absolute
                    include ../../modules/catalog-droplist/catalog-droplist
            .menu-head--wrapper
                include ../../modules/menu
        include ../../modules/breadcrumbs-v1/breadcrumbs-v1-1
        include checkout-content/checkout-content
    .order-call Заказать звонок