section.compare-content
    .compare-content-wrap
        .row
            .col-xl-9.mb-5
                h2.section-title Сравнение
                .compare--content
                    .col-xl-3.col-lg-3.col-md-3.col-sm-3
                    .col-xl-9.col-lg-9.col-md-9.col-sm-9.col-12.compare-product--all__items
                        .js-compare-slider-items
                            .best-product--item-compare
                                .best-product--item-closs--compare
                                    +icon('delete')
                                .best-product--item__link--wrap-compare
                                    a(href="/").best-product--item__added-pic
                                        span.best-product--item__added-for-pic.added-for-pic-compare
                                            +icon('added-pic')
                                        img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img-compare
                                .best-product--info-compare
                                    a.best-product--info__link-compare(href="/") Алоказия Полли 12 40
                                    span.best-product--info__in-stock В наличии
                                    .best-product--info__price-quantity-compare
                                        span.best-product--info__price 300.00 &#8381
                                        .best-product--info__quantity
                                            button.sub.compare--sub(type="button") -
                                            input.best-quantity.compare--quantity-input(value="1" min="1")
                                            button.add.compare--add(type="button") +
                                    include ../../../modules/buttons/best-add-to-cart
                            .best-product--item-compare
                                .best-product--item-closs--compare
                                    +icon('delete')
                                .best-product--item__link--wrap-compare
                                    a(href="/").best-product--item__added-pic
                                        span.best-product--item__added-for-pic.added-for-pic-compare
                                            +icon('added-pic')
                                        img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img-compare
                                .best-product--info-compare
                                    a.best-product--info__link-compare(href="/") Алоказия Полли 12 40
                                    span.best-product--info__in-stock В наличии
                                    .best-product--info__price-quantity-compare
                                        span.best-product--info__price 300.00 &#8381
                                        .best-product--info__quantity
                                            button.sub.compare--sub(type="button") -
                                            input.best-quantity.compare--quantity-input(value="1" min="1")
                                            button.add.compare--add(type="button") +
                                    include ../../../modules/buttons/best-add-to-cart
                            .best-product--item-compare
                                .best-product--item-closs--compare
                                    +icon('delete')
                                .best-product--item__link--wrap-compare
                                    a(href="/").best-product--item__added-pic
                                        span.best-product--item__added-for-pic.added-for-pic-compare
                                            +icon('added-pic')
                                        img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img-compare
                                .best-product--info-compare
                                    a.best-product--info__link-compare(href="/") Алоказия Полли 12 40
                                    span.best-product--info__in-stock В наличии
                                    .best-product--info__price-quantity-compare
                                        span.best-product--info__price 300.00 &#8381
                                        .best-product--info__quantity
                                            button.sub.compare--sub(type="button") -
                                            input.best-quantity.compare--quantity-input(value="1" min="1")
                                            button.add.compare--add(type="button") +
                                    include ../../../modules/buttons/best-add-to-cart
                            .best-product--item-compare
                                .best-product--item-closs--compare
                                    +icon('delete')
                                .best-product--item__link--wrap-compare
                                    a(href="/").best-product--item__added-pic
                                        span.best-product--item__added-for-pic.added-for-pic-compare
                                            +icon('added-pic')
                                        img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img-compare
                                .best-product--info-compare
                                    a.best-product--info__link-compare(href="/") Алоказия Полли 12 40
                                    span.best-product--info__in-stock В наличии
                                    .best-product--info__price-quantity-compare
                                        span.best-product--info__price 300.00 &#8381
                                        .best-product--info__quantity
                                            button.sub.compare--sub(type="button") -
                                            input.best-quantity.compare--quantity-input(value="1" min="1")
                                            button.add.compare--add(type="button") +
                                    include ../../../modules/buttons/best-add-to-cart

                        .compare-controls
                            .compare-control-js--prev.all-compare-controls
                                i.fas.fa-caret-left
                            .compare-control-js--next.all-compare-controls
                                i.fas.fa-caret-right

                .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12.compare-info
                    .compare-desktop--list
                        .compare-desktop__item
                            .col-lx-3.col-lg-3.col-md-3.col-sm-3.col-3.compare-desktop__item__name Компания-производитель
                            ul.col-xl-9.col-lg-9.col-md-9.col-sm-9.col-9.compare-js-list1.compare-all-list
                                li.compare-desktop__item__js-item Bayer Garden
                                li.compare-desktop__item__js-item АБТ-Групп
                                li.compare-desktop__item__js-item Bayer Garden
                                li.compare-desktop__item__js-item АБТ-Групп
                        .compare-desktop__item
                            .col-lx-3.col-lg-3.col-md-3.col-sm-3.col-3.compare-desktop__item__name Страна
                            ul.col-xl-9.col-lg-9.col-md-9.col-sm-9.col-9.compare-js-list2.compare-all-list
                                li.compare-desktop__item__js-item Голландия
                                li.compare-desktop__item__js-item Франция
                                li.compare-desktop__item__js-item Голландия
                                li.compare-desktop__item__js-item Голландия
                        .compare-desktop__item
                            .col-lx-3.col-lg-3.col-md-3.col-sm-3.col-3.compare-desktop__item__name Тип растения
                            ul.col-xl-9.col-lg-9.col-md-9.col-sm-9.col-9.compare-js-list3.compare-all-list
                                li.compare-desktop__item__js-item кустарник
                                li.compare-desktop__item__js-item кустарник
                                li.compare-desktop__item__js-item кустарник
                                li.compare-desktop__item__js-item кустарник
                        .compare-desktop__item
                           .col-lx-3.col-lg-3.col-md-3.col-sm-3.col-3.compare-desktop__item__name Время цветения
                           ul.col-xl-9.col-lg-9.col-md-9.col-sm-9.col-9.compare-js-list4.compare-all-list
                                li.compare-desktop__item__js-item Лето
                                li.compare-desktop__item__js-item Лето
                                li.compare-desktop__item__js-item Лето
                                li.compare-desktop__item__js-item Лето
                        .compare-desktop__item
                            .col-lx-3.col-lg-3.col-md-3.col-sm-3.col-3.compare-desktop__item__name Высота
                            ul.col-xl-9.col-lg-9.col-md-9.col-sm-9.col-9.compare-js-list5.compare-all-list
                                li.compare-desktop__item__js-item среднее (50-100 см)
                                li.compare-desktop__item__js-item среднее (50-100 см)
                                li.compare-desktop__item__js-item среднее (50-100 см)
                                li.compare-desktop__item__js-item среднее (50-100 см)
                        .compare-desktop__item
                            .col-lx-3.col-lg-3.col-md-3.col-sm-3.col-3.compare-desktop__item__name Ценность в культуре
                            ul.col-xl-9.col-lg-9.col-md-9.col-sm-9.col-9.compare-js-list6.compare-all-list
                                li.compare-desktop__item__js-item декоративнолиственное, лекарственное
                                li.compare-desktop__item__js-item декоративнолиственное, лекарственное
                                li.compare-desktop__item__js-item декоративнолиственное, лекарственное
                                li.compare-desktop__item__js-item декоративнолиственное, лекарственное


            .col-xl-3.stock-slider-none
                .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock2.png')")
                    span.sidebar-stock--item__text Гибрид подсолнечника по сниженной цене
                    a.sidebar-stock--item__link(href="/")
                        span Подробнее
                        +icon('more-arrow')
                .sidebar-stock--item(style="background-image:url('/static/img/general/stocks/stock1.png')")
                    span.sidebar-stock--item__text Свежая зелень — в каждый дом!
                    a.sidebar-stock--item__link(href="/")
                        span Подробнее
                        +icon('more-arrow')