section.slider
    .slider-container
        .js-content--slider
            .js-content--slider__item(style=`background-image:url('/static/img/general/slider/slide1.jpg')`)
                p.js-content--slider__item--text Свежая зелень - в каждый дом!
            .js-content--slider__item(style=`background-image:url('/static/img/general/slider/slide.png')`)
                p.js-content--slider__item--text Свежая зелень - в каждый дом!
            .js-content--slider__item(style=`background-image:url('/static/img/general/slider/slide1.jpg')`)
                p.js-content--slider__item--text Свежая зелень - в каждый дом!
            .js-content--slider__item(style=`background-image:url('/static/img/general/slider/slide.png')`)
                p.js-content--slider__item--text Свежая зелень - в каждый дом!
            .js-content--slider__item(style=`background-image:url('/static/img/general/slider/slide1.jpg')`)
                p.js-content--slider__item--text Свежая зелень - в каждый дом!
            .js-content--slider__item(style=`background-image:url('/static/img/general/slider/slide.png')`)
                p.js-content--slider__item--text Свежая зелень - в каждый дом!
        .js-arrows-slider
            .js-content--slider__controls--prev.slider-arrows
                +icon('arrow-prev')
            .js-content--slider__controls--next.slider-arrows
                +icon('arrow-next')
        .js-slider-controls-dots



