section.slider-all--pages
    h2.section-title Вы недавно смотрели
    .js-slider--all--wrap
        .js-slider--all2
            .slider-item-all--pages
                .best-product--item--slider
                    .best-product--item__attr
                        span.best-product--item__new.product-attr-status New
                    .best-product--item__link--wrap
                        a(data-fancybox="gallery" data-caption="Название" href="/static/img/general/bestseller/best-1-1.png").best-product--item__added-pic
                            span.best-product--item__added-for-pic
                                +icon('added-pic')
                            img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                        .shop-attr.best-product--shop-attr
                            span.shop--compare
                                +icon('compare')
                            span.shop--favourite
                                +icon('star2')
                                span.shop-favourite-add-to-favourite Добавить в избранное
                    .best-product--info
                        a.best-product--info__link(href="/") Алоказия Полли 12 40
                        span.best-product--info__in-stock В наличии
                        .best-product--info__price-quantity
                            span.best-product--info__price 300.00 &#8381
                            .best-product--info__quantity
                                button.sub(type="button") -
                                input.best-quantity(value="1" min="1")
                                button.add(type="button") +
                        include ../../buttons/best-add-to-cart

            .slider-item-all--pages
                .best-product--item--slider
                    .best-product--item__attr
                        span.best-product--item__new.product-attr-status New
                    .best-product--item__link--wrap
                        a(data-fancybox="gallery" data-caption="Название" href="/static/img/general/bestseller/best-1-1.png").best-product--item__added-pic
                            span.best-product--item__added-for-pic
                                +icon('added-pic')
                            img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                        .shop-attr.best-product--shop-attr
                            span.shop--compare
                                +icon('compare')
                            span.shop--favourite
                                +icon('star2')
                                span.shop-favourite-add-to-favourite Добавить в избранное
                    .best-product--info
                        a.best-product--info__link(href="/") Алоказия Полли 12 40
                        span.best-product--info__in-stock В наличии
                        .best-product--info__price-quantity
                            span.best-product--info__price 300.00 &#8381
                            .best-product--info__quantity
                                button.sub(type="button") -
                                input.best-quantity(value="1" min="1")
                                button.add(type="button") +
                        include ../../buttons/best-add-to-cart
            .slider-item-all--pages
                .best-product--item--slider
                    .best-product--item__attr
                        span.best-product--item__new.product-attr-status New
                    .best-product--item__link--wrap
                        a(data-fancybox="gallery" data-caption="Название" href="static/img/general/slider/no-image.png").best-product--item__added-pic
                            span.best-product--item__added-for-pic
                                +icon('added-pic')
                            img.best-product--item__img(src="static/img/general/slider/no-image.png")
                        .shop-attr.best-product--shop-attr
                            span.shop--compare
                                +icon('compare')
                            span.shop--favourite
                                +icon('star2')
                                span.shop-favourite-add-to-favourite Добавить в избранное
                    .best-product--info
                        a.best-product--info__link(href="/") Алоказия Полли 12 40
                        span.best-product--info__in-stock В наличии
                        .best-product--info__price-quantity
                            span.best-product--info__price 300.00 &#8381
                            .best-product--info__quantity
                                button.sub(type="button") -
                                input.best-quantity(value="1" min="1")
                                button.add(type="button") +
                        include ../../buttons/best-add-to-cart
            .slider-item-all--pages
                .best-product--item--slider
                    .best-product--item__attr
                        span.best-product--item__new.product-attr-status New
                    .best-product--item__link--wrap
                        a(data-fancybox="gallery" data-caption="Название" href="/static/img/general/bestseller/best-1-1.png").best-product--item__added-pic
                            span.best-product--item__added-for-pic
                                +icon('added-pic')
                            img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                        .shop-attr.best-product--shop-attr
                            span.shop--compare
                                +icon('compare')
                            span.shop--favourite
                                +icon('star2')
                                span.shop-favourite-add-to-favourite Добавить в избранное
                    .best-product--info
                        a.best-product--info__link(href="/") Алоказия Полли 12 40
                        span.best-product--info__in-stock В наличии
                        .best-product--info__price-quantity
                            span.best-product--info__price 300.00 &#8381
                            .best-product--info__quantity
                                button.sub(type="button") -
                                input.best-quantity(value="1" min="1")
                                button.add(type="button") +
                        include ../../buttons/best-add-to-cart
            .slider-item-all--pages
                .best-product--item--slider
                    .best-product--item__attr
                        span.best-product--item__new.product-attr-status New
                    .best-product--item__link--wrap
                        a(data-fancybox="gallery" data-caption="Название" href="/static/img/general/bestseller/best-1-1.png").best-product--item__added-pic
                            span.best-product--item__added-for-pic
                                +icon('added-pic')
                            img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                        .shop-attr.best-product--shop-attr
                            span.shop--compare
                                +icon('compare')
                            span.shop--favourite
                                +icon('star2')
                                span.shop-favourite-add-to-favourite Добавить в избранное
                    .best-product--info
                        a.best-product--info__link(href="/") Алоказия Полли 12 40
                        span.best-product--info__in-stock В наличии
                        .best-product--info__price-quantity
                            span.best-product--info__price 300.00 &#8381
                            .best-product--info__quantity
                                button.sub(type="button") -
                                input.best-quantity(value="1" min="1")
                                button.add(type="button") +
                        include ../../buttons/best-add-to-cart
        .js-slider--all__controls
            .js-slider--all2__controls--prev
                +icon('arrow-prev')
            .js-slider--all2__controls--next
                +icon('arrow-next')
        .js-slider--all2-controls-dots