.checkout-mail--wrap
    .checkout-mail-wrapper
        .checkout-mail-delivery
            span.checkout-mail-delivery-text Стоимость доставки по г. Пенза
            span.checkout-mail-delivery-summ 200 ₽
        .checkout-city-delivery
            label Улица, дом, квартира
            .checkout-city-delivery__check
                input.checkout-city-delivery__input(type="text")
                input#checkout-city__check(type="checkbox")
                label(for="checkout-city__check") Частный дом
        .checkout-city-address
            .checkout-city-address-porch
                label Подъезд
                input(type="text")
            .checkout-city-address-floor
                label Этаж
                input(type="text")
