.checkout-mail--wrap
    .checkout-mail-wrapper
        .checkout-mail-delivery
            span.checkout-mail-delivery-text Стоимость самовывоза
            span.checkout-mail-delivery-summ Бесплатно
        p.checkout-mail-delivery--desc Вы можете забрать заказ на складе, либо в пункте выдачи нашего интернет-магазина.
        .checkout-pickup-wrap
            span.checkout-pickup-wrap--span Забрать по адресу:
            ul.checkout-pickup-list
                li.checkout-pickup-item
                    label
                        input.checkout-pickup-item__input(type="radio" name="checkout_address")
                        .checkout-pickup-item__input__check.checked
                        span г. Пенза, пр-кт Строителей 21а, ТЦ «Арбековский»
                li.checkout-pickup-item
                    label
                        input.checkout-pickup-item__input(type="radio" name="checkout_address")
                        .checkout-pickup-item__input__check
                        span г. Пенза, пр-кт Строителей 21а, ТЦ «Арбековский»
                li.checkout-pickup-item
                    label
                        input.checkout-pickup-item__input(type="radio" name="checkout_address")
                        .checkout-pickup-item__input__check
                        span г. Пенза, пр-кт Строителей 21а, ТЦ «Арбековский»
                li.checkout-pickup-item
                    label
                        input.checkout-pickup-item__input(type="radio" name="checkout_address")
                        .checkout-pickup-item__input__check
                        span г. Пенза, пр-кт Строителей 21а, ТЦ «Арбековский»
                li.checkout-pickup-item
                    label
                        input.checkout-pickup-item__input(type="radio" name="checkout_address")
                        .checkout-pickup-item__input__check
                        span г. Пенза, пр-кт Строителей 21а, ТЦ «Арбековский»
            select.test.mobile-checkout-pickup-select
                option(value="1") г. Пенза, пр-кт Строителей 21а, ТЦ «Арбековский»
                option(value="2") г. Пенза, пр-кт Строителей 21а, ТЦ «Арбековский»
                option(value="3") г. Пенза, пр-кт Строителей 21а, ТЦ «Арбековский»
                option(value="4") г. Пенза, пр-кт Строителей 21а, ТЦ «Арбековский»

            .checkout-pickup__map
                script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3b3cce898357e54ffb8242985df8257030fc03b24c14ba637b6ab61f5ec92133&amp;width=820&amp;height=400&amp;lang=ru_RU&amp;scroll=true")