.checkout-mail--wrap
    .checkout-mail-wrapper
        .checkout-mail-delivery
            span.checkout-mail-delivery-text Стоимость доставки почтой России
            span.checkout-mail-delivery-summ 350 ₽
        p.checkout-mail-delivery--desc ВНИМАНИЕ! Указана стоимость доставки при весе до 1 кг. Окончательная стоимость при весе более 1 кг рассчитывается менеджером
        .checkout-mail-delivery--inputs
            .checkout-mail-delivery--inputs-city
                label Город
                input(type="text" placeholder="Москва")
            .checkout-mail-delivery--inputs-city
                label Почтовое отделение
                select.test
                    option(value="#1") ул. Антонова, д. 115
                    option(value="#2") ул. Антонова, д. 114
                    option(value="#3") ул. Антонова, д. 113
