.my-order-list__wrap.tabs-content-items-profile.tab-my-order.active
    ul.my-order-list
        li.my-order-item
            .my-order-item--wrap
                span.my-order-item__number № 01234556
                span.my-order-item__date 25.06.2019
            a.partner-login-button.my-order-item-more(href="/") Подробнее
        li.my-order-item
            .my-order-item--wrap
                span.my-order-item__number № 01234556
                span.my-order-item__date 25.06.2019
            a.partner-login-button.my-order-item-more(href="/") Подробнее
        li.my-order-item
            .my-order-item--wrap
                span.my-order-item__number № 01234556
                span.my-order-item__date 25.06.2019
            a.partner-login-button.my-order-item-more(href="/") Подробнее
        li.my-order-item
            .my-order-item--wrap
                span.my-order-item__number № 01234556
                span.my-order-item__date 25.06.2019
            a.partner-login-button.my-order-item-more(href="/") Подробнее
        li.my-order-item
            .my-order-item--wrap
                span.my-order-item__number № 01234556
                span.my-order-item__date 25.06.2019
            a.partner-login-button.my-order-item-more(href="/") Подробнее
        .my-order-items-show-all
            ul.my-order-list
                li.my-order-item
                    .my-order-item--wrap
                        span.my-order-item__number № 01234556
                        span.my-order-item__date 25.06.2019
                    a.partner-login-button.my-order-item-more(href="/") Подробнее
                li.my-order-item
                    .my-order-item--wrap
                        span.my-order-item__number № 01234556
                        span.my-order-item__date 25.06.2019
                    a.partner-login-button.my-order-item-more(href="/") Подробнее
                li.my-order-item
                    .my-order-item--wrap
                        span.my-order-item__number № 01234556
                        span.my-order-item__date 25.06.2019
                    a.partner-login-button.my-order-item-more(href="/") Подробнее
                li.my-order-item
                    .my-order-item--wrap
                        span.my-order-item__number № 01234556
                        span.my-order-item__date 25.06.2019
                    a.partner-login-button.my-order-item-more(href="/") Подробнее
                li.my-order-item
                    .my-order-item--wrap
                        span.my-order-item__number № 01234556
                        span.my-order-item__date 25.06.2019
                    a.partner-login-button.my-order-item-more(href="/") Подробнее

    .partner-login-button.my-order-all-orders Все заказы