.my-order-info__wrap.tabs-content-items-profile.tab-bonus
    .my-bonus--wrap.my-adress--wrap
        p Сейчас на вашем бонусном счете
        h2 198 баллов
        a(href="/") Подробнее о бонусной системе
.mb-5.mt-5.bonus-system--baner(style="background-image:url('static/img/general/slider/leo.png')")
    h2.bonus-system--title Оплачивайте часть заказа бонусами!
    a(href="/").use-bonus-system.mt-4 Использовать бонусы
