.order-item__content
    .order-item__list--wrap
        span.order-item__list--wrap-number № 01234556
        ul.order-item__list--wrap-list
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Добавлен
                span.order-item__list--wrap-item--option 04.09.2019
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Статус
                span.order-item__list--wrap-item--option Готов к отправке
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Фамилия Имя
                span.order-item__list--wrap-item--option Петров Александр
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Тип доставки
                span.order-item__list--wrap-item--option Самовывоз
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Адрес
                span.order-item__list--wrap-item--option -
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Телефон
                span.order-item__list--wrap-item--option +7 (900) 000-30-30
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Сумма скидки
                span.order-item__list--wrap-item--option 90 &#8380
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Стоимость доставки
                span.order-item__list--wrap-item--option -
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Сумма
                span.order-item__list--wrap-item--option 630 Р
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Тип оплаты
                span.order-item__list--wrap-item--option Картой
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Комментарий
                span.order-item__list--wrap-item--option -
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Купон
                span.order-item__list--wrap-item--option 5568TYUN
            li.order-item__list--wrap-item
                span.order-item__list--wrap-item--name Состав заказа
                .order-item__list--wrap-item--option
                    .best-product--container.order-item__list-product-order
                        .best-product--item.order-item__list-product-order--item
                            .best-product--item__attr
                                span.best-product--item__hit.product-attr-status Хит
                            .best-product--item__link--wrap
                                a(href="/").best-product--item__added-pic
                                    span.best-product--item__added-for-pic
                                        +icon('added-pic')
                                    img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                                .shop-attr.best-product--shop-attr
                                    span.shop--compare
                                        +icon('compare')
                                    span.shop--favourite
                                        +icon('star2')
                                        span.shop-favourite-add-to-favourite Добавить в избранное
                            .best-product--info
                                a.best-product--info__link(href="/") Алоказия Полли 12 40
                                span.best-product--info__in-stock В наличии
                                .best-product--info__price-quantity
                                    span.best-product--info__price 300.00 &#8381
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                                include ../../../../modules/buttons/best-add-to-cart
                        .best-product--item.order-item__list-product-order--item
                            .best-product--item__attr
                                span.best-product--item__hit.product-attr-status Хит
                            .best-product--item__link--wrap
                                a(href="/").best-product--item__added-pic
                                    span.best-product--item__added-for-pic
                                        +icon('added-pic')
                                    img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                                .shop-attr.best-product--shop-attr
                                    span.shop--compare
                                        +icon('compare')
                                    span.shop--favourite
                                        +icon('star2')
                                        span.shop-favourite-add-to-favourite Добавить в избранное
                            .best-product--info
                                a.best-product--info__link(href="/") Алоказия Полли 12 40
                                span.best-product--info__in-stock В наличии
                                .best-product--info__price-quantity
                                    span.best-product--info__price 300.00 &#8381
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                                include ../../../../modules/buttons/best-add-to-cart
                        .best-product--item.order-item__list-product-order--item
                            .best-product--item__attr
                                span.best-product--item__hit.product-attr-status Хит
                            .best-product--item__link--wrap
                                a(href="/").best-product--item__added-pic
                                    span.best-product--item__added-for-pic
                                        +icon('added-pic')
                                    img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                                .shop-attr.best-product--shop-attr
                                    span.shop--compare
                                        +icon('compare')
                                    span.shop--favourite
                                        +icon('star2')
                                        span.shop-favourite-add-to-favourite Добавить в избранное
                            .best-product--info
                                a.best-product--info__link(href="/") Алоказия Полли 12 40
                                span.best-product--info__in-stock В наличии
                                .best-product--info__price-quantity
                                    span.best-product--info__price 300.00 &#8381
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                                include ../../../../modules/buttons/best-add-to-cart
                        .best-product--item.order-item__list-product-order--item
                            .best-product--item__attr
                                span.best-product--item__hit.product-attr-status Хит
                            .best-product--item__link--wrap
                                a(href="/").best-product--item__added-pic
                                    span.best-product--item__added-for-pic
                                        +icon('added-pic')
                                    img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                                .shop-attr.best-product--shop-attr
                                    span.shop--compare
                                        +icon('compare')
                                    span.shop--favourite
                                        +icon('star2')
                                        span.shop-favourite-add-to-favourite Добавить в избранное
                            .best-product--info
                                a.best-product--info__link(href="/") Алоказия Полли 12 40
                                span.best-product--info__in-stock В наличии
                                .best-product--info__price-quantity
                                    span.best-product--info__price 300.00 &#8381
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                                include ../../../../modules/buttons/best-add-to-cart
                        .best-product--item.order-item__list-product-order--item
                            .best-product--item__attr
                                span.best-product--item__hit.product-attr-status Хит
                            .best-product--item__link--wrap
                                a(href="/").best-product--item__added-pic
                                    span.best-product--item__added-for-pic
                                        +icon('added-pic')
                                    img(src="/static/img/general/bestseller/best-1-1.png").best-product--item__img
                                .shop-attr.best-product--shop-attr
                                    span.shop--compare
                                        +icon('compare')
                                    span.shop--favourite
                                        +icon('star2')
                                        span.shop-favourite-add-to-favourite Добавить в избранное
                            .best-product--info
                                a.best-product--info__link(href="/") Алоказия Полли 12 40
                                span.best-product--info__in-stock В наличии
                                .best-product--info__price-quantity
                                    span.best-product--info__price 300.00 &#8381
                                    .best-product--info__quantity
                                        button.sub(type="button") -
                                        input.best-quantity(value="1" min="1")
                                        button.add(type="button") +
                                include ../../../../modules/buttons/best-add-to-cart

