.wrap-content
    .container
        .droplist-and-menu
            .droplist-on-head
                .droplist-on-head-absolute
                    include ../../modules/catalog-droplist/catalog-droplist
            .menu-head--wrapper
                include ../../modules/menu
        include ../../modules/breadcrumbs-v1/breadcrumbs-v1-1
        include product-card-img/product-card-img
        include product-tabs/product-tabs
        include ../../modules/case/sliders/stock-slider/stock-slider
        include ../../modules/case/sliders/slider-copy
        include ../../modules/case/sliders/slider-copy2
        include ../../modules/case/popup-modal/popup-one-slick
        include ../../modules/mobile-tablet/tablet/product-click-popup
    .order-call Заказать звонок