section.product-card
   h4.section-title.product-section-title Бегония Элатиор 11
   .product-card--wrap
       .product-card--galery--wrap
           .js-slider-product-card--wrap
                .best-product--item__attr
                   span.best-product--item__hit.product-attr-status Хит
                   span.best-product--item__new.product-attr-status New
                   span.best-product--item__discount.product-attr-status %
                .js-slider-product-card
                    .slider-product-card--item
                        a.slider-product--zoomle.zoompleFixed(href="static/img/general/bestseller/best-9-9.png")
                            img.slider-product-card--item--img(src="static/img/general/bestseller/best-9-9.png")
                    .slider-product-card--item
                        a.slider-product--zoomle.zoompleFixed(href="static/img/general/bestseller/best-1-2.png")
                            img.slider-product-card--item--img(src="static/img/general/bestseller/best-1-2.png")
                    .slider-product-card--item
                        a.slider-product--zoomle.zoompleFixed(href="static/img/general/bestseller/best-7-7.png")
                            img.slider-product-card--item--img(src="static/img/general/bestseller/best-7-7.png")
                    .slider-product-card--item
                        a.slider-product--zoomle.zoompleFixed(href="static/img/general/bestseller/best-7-7.png")
                            img.slider-product-card--item--img(src="static/img/general/bestseller/best-7-7.png")
                    .slider-product-card--item
                        a.slider-product--zoomle.zoompleFixed(href="static/img/general/bestseller/best-7-7.png")
                            img.slider-product-card--item--img(src="static/img/general/bestseller/best-7-7.png")
                    .slider-product-card--item
                        a.slider-product--zoomle.zoompleFixed(href="static/img/general/bestseller/best-7-7.png")
                            img.slider-product-card--item--img(src="static/img/general/bestseller/best-7-7.png")
           .js-product-gallery__nav
               .product-gallery-nav__item
                   img.small--image(src="static/img/general/bestseller/best-9-9.png")
               .product-gallery-nav__item
                   img.small--image(src="static/img/general/bestseller/best-1-2.png")
               .product-gallery-nav__item
                   img.small--image(src="static/img/general/bestseller/best-7-7.png")
               .product-gallery-nav__item
                   img.small--image(src="static/img/general/bestseller/best-7-7.png")
               .product-gallery-nav__item
                   img.small--image(src="static/img/general/bestseller/best-7-7.png")
               .product-gallery-nav__item
                   img.small--image(src="static/img/general/bestseller/best-7-7.png")
               .product-gallery-nav__item
                   img.small--image(src="static/img/general/bestseller/best-7-7.png")
           .js-slider-product-dots-card-controls-dots
       .product-card--info
           h2.section-title Бегония Элатиор 11
           .product-card--info-parent
               .best-product--info--type-list__wrap
                   .best-product--info--type-list
                       ul.best-product--type--list-list
                           li.best-product--type--list-item
                               span.best-product--type--list-item-name Наличие:
                               span.best-product--type--list-item-status Предзаказ
                           li.best-product--type--list-item
                               span.best-product--type--list-item-name Ориентировочная дата поступления в продажу:
                               span.best-product--type--list-item-status 22.08.2019
                           li.best-product--type--list-item
                               span.best-product--type--list-item-name Производитель:
                               span.best-product--type--list-item-status Голландия
                           li.best-product--type--list-item
                               span.best-product--type--list-item-name Актикул:
                               span.best-product--type--list-item-status 00001218
                           li.best-product--type--list-item
                               span.best-product--type--list-item-name Тип растения:
                               span.best-product--type--list-item-status кустарник, травянистое
                   ul.best-product--info--type-list
                       li.best-product--cart--compare-favourite.best-product--shop-attr.best-item-margin
                           span.shop--compare.add-to-compare-catalog
                               +icon('compare')
                               span В сравнение
                           span.shop--favourite.add-to-favourite-catalog
                               +icon('star2')
                               span В избранное
                       li.best-product--cart--quantity.best-item-margin
                           span Количество:
                           .best-product--info__quantity
                               button.sub(type="button") -
                               input.best-quantity(value="1" min="1")
                               button.add(type="button") +
                       li.best-product--cart--price.best-item-margin
                           span.best-product--cart--price---item Стоимость:
                           span.best-product--info__price 300.00 &#8381
                       .product-card--info-process-buy
                           a.all-buttons-green.product-card--info--added-to-cart(href="/") Добавить в корзину
                           a.ss-button.product-card--info--buy-one-click(data-toggle="modal" data-target="#popup-one-click") Купить в один клик

